apache-tomcat-9.0.0.M17/webapps/ROOT/src/jade/templates/ideasPopulares.jade
extends ../layouts/layout__primary


block title
	title!='Ideas Populares - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item.selected
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li.active
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset.form-group
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		//- DFRONT: se añade la clase tlf-show para que en la vista tablet y movil, la modal ocupe el 100%
		.tlf-show
			.wrapper
				.row
					.col-lg-12.col-md-12.col-sm-12
						a.tlf-btn.tlf-btn--nofloat(href="#" title="Comparte tu idea" data-toggle="modal" data-target="#tlf-add") Comparte tu idea
						form.tlf-form.tlf-form--simple(action="#" method="post")
							fieldset.tlf-form__fieldset
								legend.u-hideAccessible Formulario b&uacute;squeda
								label.u-hideAccessible(for="buscar")
								input.tlf-form__search(type="search" id="buscar")
								label.u-hideAccessible(for="busqueda")
								input.tlf-btn.tlf-btn--big(id="busqueda" type="button" value="Buscar")
				.row
					.col-lg-4.col-md-12.col-sm-12
						section.tlf-news.tlf-news--mrg.tlf-news__pdd.tlf-news__df
							h2.tlf-news__title Ideas Populares
							ul.tlf-news__list
								//- DFRONT: se añade la clase 'panel' para hacer efecto acordeón - Hacer en todos los li
								li.tlf-news__item.panel
									//- DFRONT: este enlace es para la versión mobile - Se añade la clase 'collapsed' y el data-parent='.tlf-news__list' para el efecto acordeón, ésta clase es el ul que engloba
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Comunicaciones vía Whatsapp" data-toggle="collapse" data-parent=".tlf-news__list") Comunicaciones v&iacute;a Whatsapp
										span.tlf-news__text 50
									//- DFRONT: se deja el href con una almohadilla y se le quita el data-toggle para que siempre muestre la descripcíón a la derecha
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Comunicaciones vía Whatsapp") Comunicaciones v&iacute;a Whatsapp
										span.tlf-news__text 50
									//- DFRONT: esto es el contenido que despliega en mobile - '.panel-collapse.collapse', estas clases también son para el efecto acordeón
									#comunicaciones.collapse.tlf-news--tblMbl.panel-collapse.collapse
										article.tlf-news.tlf-news__description
											span.tlf-news__description__number Votos: 50
												a.tlf-news__description__number--ok(href="#" title="me gusta") Me gusta
												a.tlf-news__description__number--ko(href="#" title="no me gusta") No me gusta
											h2.tlf-news__title Comunicaciones v&iacute;a Whatsapp
											span.tlf-news__description__date Fecha de creaci&oacute;n: 2016-08-24 22:14:06
											span.tlf-news__description__date Publicado por: ERICH OBLITAS
											p.tlf-news__description__text Ser&iacute;a posible asignar un n&uacute;mero formal de telef&oacute;nica, tal como se realiza en los medios de comunicaci&oacute;n, en los cuales un usuario corporativo pueda ingresar sus solicitudes/requerimientos v&iacute;a whatsapp y luego estos se conviertan en solicitudes formales en el sistema de Telef&oacute;nica&quest; Saludos Cordiales Erich Oblitas
											span.tlf-news__description__date.tlf-news__description--last [0] Comentario/s
											a.tlf-btn.tlf-btn--tab(href="#" title="Añadir comentario" data-toggle="modal" data-target="#tlf-comment") A&ntilde;adir comentario
								//- DFRONT: se añade la clase 'panel' para hacer efecto acordeón - Hacer en todos los li
								li.tlf-news__item.panel
									//- DFRONT: este enlace es para la versión mobile - Se añade la clase 'collapsed' y el data-parent='.tlf-news__list' para el efecto acordeón, ésta clase es el ul que engloba
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#noticias" title="noticias telefónica" data-toggle="collapse" data-parent=".tlf-news__list") noticias telef&oacute;nica
										span.tlf-news__text 20
									//- DFRONT: esto es el contenido que despliega en mobile - '.panel-collapse.collapse', estas clases también son para el efecto acordeón
									#noticias.collapse.tlf-news--tblMbl.panel-collapse.collapse
										article.tlf-news.tlf-news__description
											span.tlf-news__description__number Votos: 20
												a.tlf-news__description__number--ok(href="#" title="me gusta") Me gusta
												a.tlf-news__description__number--ko(href="#" title="no me gusta") No me gusta
											h2.tlf-news__title noticias telef&oacute;nica
											span.tlf-news__description__date Fecha de creaci&oacute;n: 2016-01-15 12:36:50
											span.tlf-news__description__date Publicado por: Jordi Malo Rovira
											p.tlf-news__description__text detalle de la prueba de noticias
											span.tlf-news__description__date.tlf-news__description--last [0] Comentario/s
											a.tlf-btn.tlf-btn--tab(href="#" title="Añadir comentario" data-toggle="modal" data-target="#tlf-comment") A&ntilde;adir comentario
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="noticias telefónica") noticias telef&oacute;nica
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="a") a
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="a") a
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Telefónica Business Solution") Telef&oacute;nica Business Solution
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Telefónica Business Solution") Telef&oacute;nica Business Solution
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Activación se servicio") Activaci&oacute;n se servicio
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Activación se servicio") Activaci&oacute;n se servicio
										span.tlf-news__text 50
							a.tlf-btn__more.tlf-btn__more--right(href="#" title="mostrar más") >>
						section.tlf-news.tlf-news--mrg.tlf-news__pdd.tlf-news__df
							h2.tlf-news__title Mis ideas
						section.tlf-news.tlf-news--mrg.tlf-news__pdd.tlf-news__df
							h2.tlf-news__title Ideas recientes
							ul.tlf-news__list
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Comunicaciones vía Whatsapp") Comunicaciones v&iacute;a Whatsapp
										span.tlf-news__text 50
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Comunicaciones vía Whatsapp") Comunicaciones v&iacute;a Whatsapp
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Nueva idea Platino") Nueva idea Platino
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Nueva idea Platino") Nueva idea Platino
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Consultas vía chat") Consultas v&iacute;a chat
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Consultas vía chat") Consultas v&iacute;a chat
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Gestión de incidencias") Gesti&oacute;n de incidencias
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Gestión de incidencias") Gesti&oacute;n de incidencias
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Nuevas funcionalidades") Nuevas funcionalidades
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Nuevas funcionalidades") Nuevas funcionalidades
										span.tlf-news__text 50
							a.tlf-btn__more.tlf-btn__more--right(href="#" title="mostrar más") >>
					.col-lg-8.col-md-12.col-sm-12
						//- DFRONT: Se añade la clase "tlf-news__dsk" para mostrar el contenido en escritorio pero ocultarlo en versión mobile, también hay que eliminar el dis superior que contiene el id y la clase collapse, se elimina el div completo
						article.tlf-news.tlf-news__description.tlf-news__dsk
							span.tlf-news__description__number Votos: 50
								a.tlf-news__description__number--ok(href="#" title="me gusta") Me gusta
								a.tlf-news__description__number--ko(href="#" title="no me gusta") No me gusta
							h2.tlf-news__title Comunicaciones v&iacute;a Whatsapp
							span.tlf-news__description__date Fecha de creaci&oacute;n: 2016-08-24 22:14:06
							span.tlf-news__description__date Publicado por: ERICH OBLITAS
							p.tlf-news__description__text Ser&iacute;a posible asignar un n&uacute;mero formal de telef&oacute;nica, tal como se realiza en los medios de comunicaci&oacute;n, en los cuales un usuario corporativo pueda ingresar sus solicitudes/requerimientos v&iacute;a whatsapp y luego estos se conviertan en solicitudes formales en el sistema de Telef&oacute;nica&quest; Saludos Cordiales Erich Oblitas
							span.tlf-news__description__date.tlf-news__description--last [0] Comentario/s
							a.tlf-btn.tlf-btn--tab(href="#" title="Añadir comentario" data-toggle="modal" data-target="#tlf-comment") A&ntilde;adir comentario
		//- modal añadir comentario
		.modal.fade.tlf-new__modal#tlf-comment(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend A&ntilde;adir comentario
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label.u-hideAccessible(for="descripción2") Descripci&oacute;n
									textarea.tlf-new__modal__input.tlf-new__modal__input--taller(id="descripción2" name="descripción2")
								.tlf-contBtn
									input.tlf-btn(type="submit" value="Guardar")
									input.tlf-btn(type="button" value="Cancelar" aria-label="close" data-dismiss="modal")
		//- end modal añadir comentario
		//- modal añadir idea
		.modal.fade.tlf-new__modal#tlf-add(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend A&ntilde;adir idea
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label(for="titulo") T&iacute;tulo*
									input.tlf-new__modal__input(type="text" id="titulo")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label(for="cuerpo") Cuerpo*
									input.tlf-new__modal__input.tlf-new__modal__input--taller(type="textarea" id="cuerpo")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									span.tlf-new__modal__label *Informaci&oacute;n Obligatoria
								.tlf-contBtn
									input.tlf-btn(type="submit" value="Guardar")
									input.tlf-btn.tlf-hideDesktop(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
		//- end modal añadir idea
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:

apache-tomcat-9.0.0.M17/webapps/ROOT/src/ideasPopulares.html
<!DOCTYPE html><!--[if gte IE 9]><html lang="es" dir="ltr" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="es" dir="ltr"><!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Ideas Populares - Telefonica CWP</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- build:css css/style.min.css -->
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/salesforce-lightning-design-system.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/dFront.css"/>
  <!-- Fin archivos CSS--><!-- endbuild -->
  <!-- Fin CSS Y SCRIPT compatibilidad IE--><!-- build:js js/main.min.js -->
  <!-- Archivos JS-->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script type="text/javascript" src="bower_components/respond/dest/respond.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="bower_components/tablesorter/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="js/dist/reflection.js"></script>
  <script type="text/javascript" src="js/dist/cloud-carousel.1.0.5.js"></script>
  <script type="text/javascript" src="bower_components/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="js/dist/wefront-script.js"></script>
  <!-- Fin rchivos JS--><!-- endbuild -->
</head>
<body data-ng-app="app" class="tlf-content">
  <header class="tlf-header">
    <div class="tlf-header__top">
      <div class="wrapper">
        <h1 class="u-hideAccessible">Telef&oacute;nica CPW</h1>
        <figure class="tlf-header__cont-img"><img src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica" class="tlf-header__img"></figure>
      </div>
    </div>
    <nav class="tlf-nav">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-8 col-md-9 col-sm-12">
            <ul class="tlf-nav__list">
              <li class="tlf-nav__item tlf-nav__item--icon"><a href="#" title="Home" class="tlf-nav__link tlf-nav__link--icon">Home</a></li>
              <li class="tlf-nav__item dropdown"><a href="#" title="Relationship Management" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Relationship Management</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Equipo telefónica" class="tlf-nav__subLink">Equipo telef&oacute;nica</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Agenda" class="tlf-nav__subLink">Agenda</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Comunidad Expertos" class="tlf-nav__subLink">Comunidad Expertos</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown"><a href="#" title="Service Tracking" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Service Tracking</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Reportes" class="tlf-nav__subLink">Reportes</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Monitoreo" class="tlf-nav__subLink">Monitoreo</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Tickets y Pedidos" class="tlf-nav__subLink">Tickets y Pedidos</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Portales" class="tlf-nav__subLink">Portales</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown"><a href="#" title="My Service" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">My Service</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Documentación" class="tlf-nav__subLink">Documentaci&oacute;n</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Market Place" class="tlf-nav__subLink">Market Place</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item selected"><a href="#" title="Ideas Corner" class="tlf-nav__link"><span class="tlf-nav__text">Ideas Corner</span></a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12">
            <form action="#" method="post" class="tlf-profile__contText">
              <fieldset>
                <legend class="u-hideAccessible">Formulario perfil</legend>
                <label for="name" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
                <select id="name" data-function="data-selectpicker" class="tlf-selectpicker">
                  <option>XXX - El Farolito de Lima</option>
                  <option>Cliente PostVenta</option>
                  <option>Lorem ipsum</option>
                </select>
              </fieldset>
            </form>
            <div class="tlf-contLinks"><a href="#" title="Ayuda" class="tlf-contLinks__text">Ayuda</a><a href="#" title="Salir" class="tlf-contLinks__text">Salir</a></div>
          </div>
        </div>
      </div>
    </nav>
    <nav class="tlf-nav--mobile navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle"><span class="sr-only">Cerrar</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div class="tlf-navbar__container">
          <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle tlf-btn__close"><span class="sr-only">Cerrar</span></button>
          <ul class="tlf-nav__listMb nav navbar-nav">
            <li><a href="#" title="Inicio" class="tlf-nav__linkMb">Inicio</a></li>
            <li><a href="#" title="Relationship Management" data-toggle="dropdown" class="dropdown-toggle">Relationship Management</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Equipo telefónica">Equipo telef&oacute;nica</a></li>
                <li><a href="#" title="Agenda">Agenda</a></li>
                <li><a href="#" title="Comunidad Expertos">Comunidad Expertos</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" title="Service Tracking" data-toggle="dropdown" class="dropdown-toggle">Service Tracking</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Reportes">Reportes</a></li>
                <li><a href="#" title="Monitoreo">Monitoreo</a></li>
                <li><a href="#" title="Tickets y Pedidos">Tickets y Pedidos</a></li>
                <li><a href="#" title="Portales">Portales</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">My Service</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Documentación">Documentaci&oacute;n</a></li>
                <li><a href="#" title="Market Place">Market Place</a></li>
              </ul>
            </li>
            <li class="active"><a href="#" title="Ideas Corner">Ideas Corner</a></li>
          </ul>
          <form action="#" method="post" class="tlf-profile__contText">
            <fieldset class="form-group">
              <legend class="u-hideAccessible">Formulario perfil</legend>
              <label for="nameMbl" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
              <select id="nameMbl" data-function="data-selectpicker" class="tlf-selectpicker">
                <option>XXX - El Farolito de Lima</option>
                <option>Cliente PostVenta</option>
                <option>Lorem ipsum</option>
              </select>
            </fieldset>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Ayuda</a></li>
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="tlf-container">
    <div class="tlf-show">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12"><a href="#" title="Comparte tu idea" data-toggle="modal" data-target="#tlf-add" class="tlf-btn tlf-btn--nofloat">Comparte tu idea</a>
            <form action="#" method="post" class="tlf-form tlf-form--simple">
              <fieldset class="tlf-form__fieldset">
                <legend class="u-hideAccessible">Formulario b&uacute;squeda</legend>
                <label for="buscar" class="u-hideAccessible"></label>
                <input type="search" id="buscar" class="tlf-form__search">
                <label for="busqueda" class="u-hideAccessible"></label>
                <input id="busqueda" type="button" value="Buscar" class="tlf-btn tlf-btn--big">
              </fieldset>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <section class="tlf-news tlf-news--mrg tlf-news__pdd tlf-news__df">
              <h2 class="tlf-news__title">Ideas Populares</h2>
              <ul class="tlf-news__list">
                <li class="tlf-news__item panel"><a href="#comunicaciones" title="Comunicaciones vía Whatsapp" data-toggle="collapse" data-parent=".tlf-news__list" class="tlf-news__link tlf-news__link--pdd tlf-news__link--small collapsed">Comunicaciones v&iacute;a Whatsapp<span class="tlf-news__text">50</span></a><a href="#" title="Comunicaciones vía Whatsapp" class="tlf-news__link tlf-news__link--pdd tlf-news__link--big">Comunicaciones v&iacute;a Whatsapp<span class="tlf-news__text">50</span></a>
                  <div id="comunicaciones" class="collapse tlf-news--tblMbl panel-collapse collapse">
                    <article class="tlf-news tlf-news__description"><span class="tlf-news__description__number">Votos: 50<a href="#" title="me gusta" class="tlf-news__description__number--ok">Me gusta</a><a href="#" title="no me gusta" class="tlf-news__description__number--ko">No me gusta</a></span>
                      <h2 class="tlf-news__title">Comunicaciones v&iacute;a Whatsapp</h2><span class="tlf-news__description__date">Fecha de creaci&oacute;n: 2016-08-24 22:14:06</span><span class="tlf-news__description__date">Publicado por: ERICH OBLITAS</span>
                      <p class="tlf-news__description__text">Ser&iacute;a posible asignar un n&uacute;mero formal de telef&oacute;nica, tal como se realiza en los medios de comunicaci&oacute;n, en los cuales un usuario corporativo pueda ingresar sus solicitudes/requerimientos v&iacute;a whatsapp y luego estos se conviertan en solicitudes formales en el sistema de Telef&oacute;nica&quest; Saludos Cordiales Erich Oblitas</p><span class="tlf-news__description__date tlf-news__description--last">[0] Comentario/s</span><a href="#" title="Añadir comentario" data-toggle="modal" data-target="#tlf-comment" class="tlf-btn tlf-btn--tab">A&ntilde;adir comentario</a>
                    </article>
                  </div>
                </li>
                <li class="tlf-news__item panel"><a href="#noticias" title="noticias telefónica" data-toggle="collapse" data-parent=".tlf-news__list" class="tlf-news__link tlf-news__link--pdd tlf-news__link--small collapsed">noticias telef&oacute;nica<span class="tlf-news__text">20</span></a>
                  <div id="noticias" class="collapse tlf-news--tblMbl panel-collapse collapse">
                    <article class="tlf-news tlf-news__description"><span class="tlf-news__description__number">Votos: 20<a href="#" title="me gusta" class="tlf-news__description__number--ok">Me gusta</a><a href="#" title="no me gusta" class="tlf-news__description__number--ko">No me gusta</a></span>
                      <h2 class="tlf-news__title">noticias telef&oacute;nica</h2><span class="tlf-news__description__date">Fecha de creaci&oacute;n: 2016-01-15 12:36:50</span><span class="tlf-news__description__date">Publicado por: Jordi Malo Rovira</span>
                      <p class="tlf-news__description__text">detalle de la prueba de noticias</p><span class="tlf-news__description__date tlf-news__description--last">[0] Comentario/s</span><a href="#" title="Añadir comentario" data-toggle="modal" data-target="#tlf-comment" class="tlf-btn tlf-btn--tab">A&ntilde;adir comentario</a>
                    </article>
                  </div><a href="#" title="noticias telefónica" class="tlf-news__link tlf-news__link--pdd tlf-news__link--big">noticias telef&oacute;nica<span class="tlf-news__text">50</span></a>
                </li>
                <li class="tlf-news__item"><a href="#comunicaciones" title="a" class="tlf-news__link tlf-news__link--pdd tlf-news__link--small collapsed">a<span class="tlf-news__text">10</span></a><a href="#" title="a" class="tlf-news__link tlf-news__link--pdd tlf-news__link--big">a<span class="tlf-news__text">50</span></a></li>
                <li class="tlf-news__item"><a href="#comunicaciones" title="Telefónica Business Solution" class="tlf-news__link tlf-news__link--pdd tlf-news__link--small collapsed">Telef&oacute;nica Business Solution<span class="tlf-news__text">10</span></a><a href="#" title="Telefónica Business Solution" class="tlf-news__link tlf-news__link--pdd tlf-news__link--big">Telef&oacute;nica Business Solution<span class="tlf-news__text">50</span></a></li>
                <li class="tlf-news__item"><a href="#comunicaciones" title="Activación se servicio" class="tlf-news__link tlf-news__link--pdd tlf-news__link--small collapsed">Activaci&oacute;n se servicio<span class="tlf-news__text">10</span></a><a href="#" title="Activación se servicio" class="tlf-news__link tlf-news__link--pdd tlf-news__link--big">Activaci&oacute;n se servicio<span class="tlf-news__text">50</span></a></li>
              </ul><a href="#" title="mostrar más" class="tlf-btn__more tlf-btn__more--right">>></a>
            </section>
            <section class="tlf-news tlf-news--mrg tlf-news__pdd tlf-news__df">
              <h2 class="tlf-news__title">Mis ideas</h2>
            </section>
            <section class="tlf-news tlf-news--mrg tlf-news__pdd tlf-news__df">
              <h2 class="tlf-news__title">Ideas recientes</h2>
              <ul class="tlf-news__list">
                <li class="tlf-news__item"><a href="#comunicaciones" title="Comunicaciones vía Whatsapp" class="tlf-news__link tlf-news__link--pdd tlf-news__link--small collapsed">Comunicaciones v&iacute;a Whatsapp<span class="tlf-news__text">50</span></a><a href="#" title="Comunicaciones vía Whatsapp" class="tlf-news__link tlf-news__link--pdd tlf-news__link--big">Comunicaciones v&iacute;a Whatsapp<span class="tlf-news__text">50</span></a></li>
                <li class="tlf-news__item"><a href="#comunicaciones" title="Nueva idea Platino" class="tlf-news__link tlf-news__link--pdd tlf-news__link--small collapsed">Nueva idea Platino<span class="tlf-news__text">10</span></a><a href="#" title="Nueva idea Platino" class="tlf-news__link tlf-news__link--pdd tlf-news__link--big">Nueva idea Platino<span class="tlf-news__text">50</span></a></li>
                <li class="tlf-news__item"><a href="#comunicaciones" title="Consultas vía chat" class="tlf-news__link tlf-news__link--pdd tlf-news__link--small collapsed">Consultas v&iacute;a chat<span class="tlf-news__text">10</span></a><a href="#" title="Consultas vía chat" class="tlf-news__link tlf-news__link--pdd tlf-news__link--big">Consultas v&iacute;a chat<span class="tlf-news__text">50</span></a></li>
                <li class="tlf-news__item"><a href="#comunicaciones" title="Gestión de incidencias" class="tlf-news__link tlf-news__link--pdd tlf-news__link--small collapsed">Gesti&oacute;n de incidencias<span class="tlf-news__text">10</span></a><a href="#" title="Gestión de incidencias" class="tlf-news__link tlf-news__link--pdd tlf-news__link--big">Gesti&oacute;n de incidencias<span class="tlf-news__text">50</span></a></li>
                <li class="tlf-news__item"><a href="#comunicaciones" title="Nuevas funcionalidades" class="tlf-news__link tlf-news__link--pdd tlf-news__link--small collapsed">Nuevas funcionalidades<span class="tlf-news__text">10</span></a><a href="#" title="Nuevas funcionalidades" class="tlf-news__link tlf-news__link--pdd tlf-news__link--big">Nuevas funcionalidades<span class="tlf-news__text">50</span></a></li>
              </ul><a href="#" title="mostrar más" class="tlf-btn__more tlf-btn__more--right">>></a>
            </section>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12">
            <article class="tlf-news tlf-news__description tlf-news__dsk"><span class="tlf-news__description__number">Votos: 50<a href="#" title="me gusta" class="tlf-news__description__number--ok">Me gusta</a><a href="#" title="no me gusta" class="tlf-news__description__number--ko">No me gusta</a></span>
              <h2 class="tlf-news__title">Comunicaciones v&iacute;a Whatsapp</h2><span class="tlf-news__description__date">Fecha de creaci&oacute;n: 2016-08-24 22:14:06</span><span class="tlf-news__description__date">Publicado por: ERICH OBLITAS</span>
              <p class="tlf-news__description__text">Ser&iacute;a posible asignar un n&uacute;mero formal de telef&oacute;nica, tal como se realiza en los medios de comunicaci&oacute;n, en los cuales un usuario corporativo pueda ingresar sus solicitudes/requerimientos v&iacute;a whatsapp y luego estos se conviertan en solicitudes formales en el sistema de Telef&oacute;nica&quest; Saludos Cordiales Erich Oblitas</p><span class="tlf-news__description__date tlf-news__description--last">[0] Comentario/s</span><a href="#" title="Añadir comentario" data-toggle="modal" data-target="#tlf-comment" class="tlf-btn tlf-btn--tab">A&ntilde;adir comentario</a>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div id="tlf-comment" data-function="modal-focus" class="modal fade tlf-new__modal">
      <div class="modal-dialog">
        <div class="modal-content tlf-new__modal__content">
          <button type="button" data-dismiss="modal" aria-label="Close" data-function="focus" class="tlf-new__modal__close"></button>
          <div class="modal-body tlf-new__modal__body">
            <form action="#" method="post" class="tlf-new__modal__form">
              <fieldset class="tlf-new__modal__fieldset">
                <legend class="tlf-new__modal__form__legend">A&ntilde;adir comentario</legend>
                <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big">
                  <label for="descripción2" class="tlf-new__modal__label u-hideAccessible">Descripci&oacute;n</label>
                  <textarea id="descripción2" name="descripción2" class="tlf-new__modal__input tlf-new__modal__input--taller"></textarea>
                </div>
                <div class="tlf-contBtn">
                  <input type="submit" value="Guardar" class="tlf-btn">
                  <input type="button" value="Cancelar" aria-label="close" data-dismiss="modal" class="tlf-btn">
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="tlf-add" data-function="modal-focus" class="modal fade tlf-new__modal">
      <div class="modal-dialog">
        <div class="modal-content tlf-new__modal__content">
          <button type="button" data-dismiss="modal" aria-label="Close" data-function="focus" class="tlf-new__modal__close"></button>
          <div class="modal-body tlf-new__modal__body">
            <form action="#" method="post" class="tlf-new__modal__form">
              <fieldset class="tlf-new__modal__fieldset">
                <legend class="tlf-new__modal__form__legend">A&ntilde;adir idea</legend>
                <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big">
                  <label for="titulo" class="tlf-new__modal__label">T&iacute;tulo*</label>
                  <input type="text" id="titulo" class="tlf-new__modal__input">
                </div>
                <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big">
                  <label for="cuerpo" class="tlf-new__modal__label">Cuerpo*</label>
                  <input type="textarea" id="cuerpo" class="tlf-new__modal__input tlf-new__modal__input--taller">
                </div>
                <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big"><span class="tlf-new__modal__label">*Informaci&oacute;n Obligatoria</span></div>
                <div class="tlf-contBtn">
                  <input type="submit" value="Guardar" class="tlf-btn">
                  <input type="button" value="Cerrar" aria-label="close" data-dismiss="modal" class="tlf-btn tlf-hideDesktop">
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="tlf-footer">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="tlf-footer__container">
            <h2 class="tlf-footer__title">&copy;Telef&oacute;nica S.A.</h2><span class="tlf-footer__text">Compartir este sitio en:</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body></html>
