apache-tomcat-9.0.0.M17/webapps/ROOT/src/login-2.html
<!DOCTYPE html><!--[if gte IE 9]><html lang="es" dir="ltr" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="es" dir="ltr"><!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Login - Telefonica CWP</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- build:css css/style.min.css -->
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/salesforce-lightning-design-system.css"/>
  <link rel="stylesheet" type="text/css" href="css/dFront.css"/>
  <!-- Fin archivos CSS--><!-- endbuild -->
  <!-- Fin CSS Y SCRIPT compatibilidad IE--><!-- build:js js/main.min.js -->
  <!-- Archivos JS-->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script type="text/javascript" src="bower_components/respond/dest/respond.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="bower_components/tablesorter/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="js/dist/reflection.js"></script>
  <script type="text/javascript" src="js/dist/cloud-carousel.1.0.5.js"></script>
  <script type="text/javascript" src="bower_components/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="js/dist/wefront-script.js"></script>
  <!-- Fin rchivos JS--><!-- endbuild -->
</head>
<body data-ng-app="app" class="tlf-form-container">
  <main class="tlf-form-container tlf-form-container--bg2">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="tlf-login-box tlf-login-box--oval">
            <h1 class="u-hideAccessible">Login de Acceso</h1>
            <form method="post" action="#">
              <fieldset>
                <legend class="tlf-login-box__legend">Acceso a Portal Cliente</legend>
                <div class="tlf-login-box__row">
                  <div class="tlf-login-box__left-clmn">
                    <label for="username" class="tlf-login-box__label">Nombre de Usuario</label>
                  </div>
                  <div class="tlf-login-box__right-clmn">
                    <input id="username" type="text" value="" name="username" class="tlf-login-box__input">
                  </div>
                </div>
                <div class="tlf-login-box__row">
                  <div class="tlf-login-box__left-clmn">
                    <label for="password" class="tlf-login-box__label">Contrase&ntilde;a</label>
                  </div>
                  <div class="tlf-login-box__right-clmn">
                    <input id="password" type="password" value="" name="password" class="tlf-login-box__input">
                  </div>
                </div>
                <div class="tlf-login-box__row tlf-login-box__row--right">
                  <button type="submit" class="tlf-btn tlf-btn--nofloat tlf-btn--login">Inicio de sesi&oacute;n</button>
                </div>
                <div class="tlf-login-box__row tlf-login-box__row--right"><a href="#" title="¿Ha olvidado su contraseña?" class="tlf-login-box__link">¿Ha olvidado su contrase&ntilde;a?</a></div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body></html>

apache-tomcat-9.0.0.M17/webapps/ROOT/src/jade/templates/login-2.jade
extends ../layouts/layout__login

block title
    title!='Login - Telefonica CWP'

block body
    main.tlf-form-container.tlf-form-container--bg2
        .wrapper
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    div.tlf-login-box.tlf-login-box--oval
                        h1.u-hideAccessible!="Login de Acceso"
                        form(method="post" action="#")
                            fieldset
                                legend.tlf-login-box__legend!="Acceso a Portal Cliente"
                                div.tlf-login-box__row
                                    div.tlf-login-box__left-clmn
                                        label.tlf-login-box__label(for="username")!="Nombre de Usuario"
                                    div.tlf-login-box__right-clmn
                                        input.tlf-login-box__input(id="username" type="text" value="" name="username")
                                div.tlf-login-box__row
                                    div.tlf-login-box__left-clmn
                                        label.tlf-login-box__label(for="password")!="Contrase&ntilde;a"
                                    div.tlf-login-box__right-clmn
                                        input.tlf-login-box__input(id="password" type="password" value="" name="password")
                                div.tlf-login-box__row.tlf-login-box__row--right
                                    button.tlf-btn.tlf-btn--nofloat.tlf-btn--login(type="submit")!="Inicio de sesi&oacute;n"
                                div.tlf-login-box__row.tlf-login-box__row--right
                                    a.tlf-login-box__link(href="#" title="¿Ha olvidado su contraseña?")!="¿Ha olvidado su contrase&ntilde;a?"
