apache-tomcat-9.0.0.M17/webapps/ROOT/src/myService_marketPlace.html
<!DOCTYPE html><!--[if gte IE 9]><html lang="es" dir="ltr" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="es" dir="ltr"><!--<![endif]-->
<head>
  <!-- Título página-->
  <title>My Service - Market Place - Telefonica CWP</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- build:css css/style.min.css -->
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/salesforce-lightning-design-system.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/dFront.css"/>
  <!-- Fin archivos CSS--><!-- endbuild -->
  <!-- Fin CSS Y SCRIPT compatibilidad IE--><!-- build:js js/main.min.js -->
  <!-- Archivos JS-->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script type="text/javascript" src="bower_components/respond/dest/respond.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="bower_components/tablesorter/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="js/dist/reflection.js"></script>
  <script type="text/javascript" src="js/dist/cloud-carousel.1.0.5.js"></script>
  <script type="text/javascript" src="bower_components/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="js/dist/wefront-script.js"></script>
  <!-- Fin rchivos JS--><!-- endbuild -->
</head>
<body data-ng-app="app" class="tlf-content">
  <header class="tlf-header">
    <div class="tlf-header__top">
      <div class="wrapper">
        <h1 class="u-hideAccessible">Telef&oacute;nica CPW</h1>
        <figure class="tlf-header__cont-img"><img src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica" class="tlf-header__img"></figure>
      </div>
    </div>
    <nav class="tlf-nav">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-8 col-md-9 col-sm-12">
            <ul class="tlf-nav__list">
              <li class="tlf-nav__item tlf-nav__item--icon"><a href="#" title="Home" class="tlf-nav__link tlf-nav__link--icon">Home</a></li>
              <li class="tlf-nav__item dropdown"><a href="#" title="Relationship Management" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Relationship Management</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Equipo telefónica" class="tlf-nav__subLink">Equipo telef&oacute;nica</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Agenda" class="tlf-nav__subLink">Agenda</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Comunidad Expertos" class="tlf-nav__subLink">Comunidad Expertos</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown"><a href="#" title="Service Tracking" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Service Tracking</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Reportes" class="tlf-nav__subLink">Reportes</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Monitoreo" class="tlf-nav__subLink">Monitoreo</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Tickets y Pedidos" class="tlf-nav__subLink">Tickets y Pedidos</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Portales" class="tlf-nav__subLink">Portales</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown selected"><a href="#" title="My Service" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">My Service</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Documentación" class="tlf-nav__subLink">Documentaci&oacute;n</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Market Place" class="tlf-nav__subLink">Market Place</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item"><a href="#" title="Ideas Corner" class="tlf-nav__link"><span class="tlf-nav__text">Ideas Corner</span></a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12">
            <form action="#" method="post" class="tlf-profile__contText">
              <fieldset>
                <legend class="u-hideAccessible">Formulario perfil</legend>
                <label for="name" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
                <select id="name" data-function="data-selectpicker" class="tlf-selectpicker">
                  <option>XXX - El Farolito de Lima</option>
                  <option>Cliente PostVenta</option>
                  <option>Lorem ipsum</option>
                </select>
              </fieldset>
            </form>
            <div class="tlf-contLinks"><a href="#" title="Ayuda" class="tlf-contLinks__text">Ayuda</a><a href="#" title="Salir" class="tlf-contLinks__text">Salir</a></div>
          </div>
        </div>
      </div>
    </nav>
    <nav class="tlf-nav--mobile navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle"><span class="sr-only">Cerrar</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div class="tlf-navbar__container">
          <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle tlf-btn__close"><span class="sr-only">Cerrar</span></button>
          <ul class="tlf-nav__listMb nav navbar-nav">
            <li><a href="#" title="Inicio" class="tlf-nav__linkMb">Inicio</a></li>
            <li><a href="#" title="Relationship Management" data-toggle="dropdown" class="dropdown-toggle">Relationship Management</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Equipo telefónica">Equipo telef&oacute;nica</a></li>
                <li><a href="#" title="Agenda">Agenda</a></li>
                <li><a href="#" title="Comunidad Expertos">Comunidad Expertos</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" title="Service Tracking" data-toggle="dropdown" class="dropdown-toggle">Service Tracking</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Reportes">Reportes</a></li>
                <li><a href="#" title="Monitoreo">Monitoreo</a></li>
                <li><a href="#" title="Tickets y Pedidos">Tickets y Pedidos</a></li>
                <li><a href="#" title="Portales">Portales</a></li>
              </ul>
            </li>
            <li class="dropdown active"><a href="#" data-toggle="dropdown" class="dropdown-toggle">My Service</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Documentación">Documentaci&oacute;n</a></li>
                <li><a href="#" title="Market Place">Market Place</a></li>
              </ul>
            </li>
            <li><a href="#" title="Ideas Corner">Ideas Corner</a></li>
          </ul>
          <form action="#" method="post" class="tlf-profile__contText">
            <fieldset>
              <legend class="u-hideAccessible">Formulario perfil</legend>
              <label for="nameMbl" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
              <select id="nameMbl" data-function="data-selectpicker" class="tlf-selectpicker">
                <option>XXX - El Farolito de Lima</option>
                <option>Cliente PostVenta</option>
                <option>Lorem ipsum</option>
              </select>
            </fieldset>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Ayuda</a></li>
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="tlf-container">
    <div class="wrapper">
      <section id="slider" data-ride="carousel" class="tlf-slider carousel slide tlf-slider__market">
        <ul role="listbox" class="tlf-slider__list carousel-inner">
          <li class="tlf-slider__item item active"><a href="#SolucionesdeVoz-PE" title="soluciones de voz" class="tlf-navigation__link">
              <figure class="tlf-slider__cont-img"><img src="./assets/img/contents/00Pg0000001vNAC.jpg" alt="slider1" class="tlf-slider__img"></figure></a></li>
          <li class="tlf-slider__item item"><a href="#DatoseInternet-PE" title="Datos e Internet" class="tlf-navigation__link">
              <figure class="tlf-slider__cont-img"><img src="./assets/img/contents/00Pg0000001vN94.jpg" alt="slider2" class="tlf-slider__img"></figure></a></li>
          <li class="tlf-slider__item item"><a href="#SolucionesMoviles-PE" title="Datos e Internet" class="tlf-navigation__link">
              <figure class="tlf-slider__cont-img"><img src="./assets/img/contents/00Pg0000001vNAC.jpg" alt="slider3" class="tlf-slider__img"></figure></a></li>
          <li class="tlf-slider__item item"><a href="#Seguridaddelainformación-PE" title="Datos e Internet" class="tlf-navigation__link">
              <figure class="tlf-slider__cont-img"><img src="./assets/img/contents/SociedadDigital.jpg" alt="slider4" class="tlf-slider__img"></figure></a></li>
        </ul><a title="prev" href="#slider" role="button" data-slide="prev" class="tlf-slider__arrow tlf-slider__arrow--prev carousel-control"></a><a title="next" href="#slider" role="button" data-slide="next" class="tlf-slider__arrow tlf-slider__arrow--next carousel-control"></a>
      </section>
      <nav class="tlf-navigation tlf-navigation__market">
        <ul class="tlf-navigation__market__list">
          <li class="tlf-navigation__item"><a href="#SolucionesdeVoz-PE" title="Soluciones de Voz" class="tlf-navigation__link">
              <figure class="tlf-navigation__cont-img"><img src="./assets/img/icons/tlf-mouse.png" alt="" class="tlf-navigation__img"></figure>Soluciones de Voz</a></li>
          <li class="tlf-navigation__item"><a href="#DatoseInternet-PE" title="Datos e Internet" class="tlf-navigation__link">
              <figure class="tlf-navigation__cont-img"><img src="./assets/img/icons/tlf-Cloud.png" alt="" class="tlf-navigation__img"></figure>Datos e Internet</a></li>
          <li class="tlf-navigation__item"><a href="#SolucionesMoviles-PE" title="Soluciones móviles" class="tlf-navigation__link">
              <figure class="tlf-navigation__cont-img"><img src="./assets/img/icons/tlf-mouse.png" alt="" class="tlf-navigation__img"></figure>Soluciones m&oacute;viles</a></li>
          <li class="tlf-navigation__item"><a href="#Seguridaddelainformación-PE" title="Seguridad de la información" class="tlf-navigation__link">
              <figure class="tlf-navigation__cont-img"><img src="./assets/img/icons/tlf-equipo_cliente.png" alt="" class="tlf-navigation__img"></figure>Seguridad de la informaci&oacute;n</a></li>
        </ul>
      </nav>
      <ul class="tlf-description__list">
        <li class="tlf-description__item tlf-description__item--solutions">
          <div class="tlf-description__contText"><a href="#" title="Soluciones de voz" id="SolucionesdeVoz-PE" class="tlf-description__titleLink">
              <h2 class="tlf-description__title">Soluciones de voz</h2></a>
            <p class="tlf-description__text">Ponemos a su disposici&oacute;n soluciones integrales de voz con elevados est&aacute;ndares de calidad. alta disponibilidad e infraestructura. soportada por una completa red digital con cobertura nacional que le permite a su negocio crecer frente a las exigencias del mercado.</p>
            <ul class="tlf-description__subList">
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Telefonia Corporativa</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Red Privada Movistar(RPM)</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Gestion de Trafico</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Red Inteligente</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Bolsa de minutos moviles</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Roming Internacional</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
            </ul><a href="#top" title="Top" class="tlf-go-top">Ir arriba</a>
          </div>
        </li>
        <li class="tlf-description__item tlf-description__item--dates">
          <div class="tlf-description__contText"><a href="#" title="Datos e Internet" id="DatoseInternet-PE" class="tlf-description__titleLink">
              <h2 class="tlf-description__title">Datos e internet</h2></a>
            <p class="tlf-description__text">Estas soluciones proporcionan las capacidades de conectividad necesarias entre oficinas nacionales e internacionales de una empresa mediante la creaci&oacute;n de Redes Privadas Virtuales (VPN). de forma que puedan compartir los recursos desplegados en cada una</p>
            <ul class="tlf-description__subList">
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Red Privada Virtual</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Servicios Internacionales</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Acceso a Internet</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Servicios de Valor Agregado</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
            </ul><a href="#top" title="Top" class="tlf-go-top">Ir arriba</a>
          </div>
        </li>
        <li class="tlf-description__item tlf-description__item--solutions">
          <div class="tlf-description__contText"><a href="#" title="Soluciones Moviles" id="SolucionesMoviles-PE" class="tlf-description__titleLink">
              <h2 class="tlf-description__title">Soluciones moviles</h2></a>
            <p class="tlf-description__text">Soluciones que permiten movilizar procesos de negocio agilizando la toma de decisiones y permitiendo el flujo de informaci&oacute;n del personal que se encuentra fuera de la oficina en tiempo real.</p>
            <ul class="tlf-description__subList">
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Correo Movil</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Aplicaciones Moviles</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Mensajeria Corporativa</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Banda ancha movil</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Soluciones M2M</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
            </ul><a href="#top" title="Top" class="tlf-go-top">Ir arriba</a>
          </div>
        </li>
        <li class="tlf-description__item tlf-description__item--security">
          <div class="tlf-description__contText"><a href="#" title="Seguridad de la información" id="Seguridaddelainformación-PE" class="tlf-description__titleLink">
              <h2 class="tlf-description__title">Seguridad de la informaci&oacute;n</h2></a>
            <p class="tlf-description__text">Soluciones con tecnolog&iacute;a de &uacute;ltima generaci&oacute;n y soportados por personal calificado con las m&aacute;s altas certificaciones de fabricantes de equipamiento en seguridad. que aseguran una permanente protecci&oacute;n y salvaguarda de la informaci&oacute;n buscando mantener la confidencialidad. la disponibilidad e integridad de la misma.</p>
            <ul class="tlf-description__subList">
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Gesti&oacute;n de Vulnerabilidades</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Servicios Gestionados</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Soluciones de Seguridad Interna</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Seguridad y Gesti&oacute; de dispositivos m&oacute;viles</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Consultoria</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Servicios ElevenPaths</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Ciberseguridad - Detecci&oacute;n de amenazas</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Soluciones Perimetrales</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
              <li class="tlf-description__subItem">
                <h3 class="tlf-description__subTitle">Servicios Cloud de Seguridad</h3><a href="#" title="Ver producto" class="tlf-btn">Ver producto</a>
              </li>
            </ul><a href="#top" title="Top" class="tlf-go-top">Ir arriba</a>
          </div>
        </li>
      </ul>
    </div>
  </main>
  <footer class="tlf-footer">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="tlf-footer__container">
            <h2 class="tlf-footer__title">&copy;Telef&oacute;nica S.A.</h2><span class="tlf-footer__text">Compartir este sitio en:</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body></html>

apache-tomcat-9.0.0.M17/webapps/ROOT/src/jade/templates/myService_marketPlace.jade
extends ../layouts/layout__primary


block title
	title!='My Service - Market Place - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown.active
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.wrapper
			section#slider.tlf-slider.carousel.slide.tlf-slider__market(data-ride="carousel")
				ul.tlf-slider__list.carousel-inner(role="listbox")
					li.tlf-slider__item.item.active
						a.tlf-navigation__link(href="#SolucionesdeVoz-PE" title="soluciones de voz")
							figure.tlf-slider__cont-img
								img.tlf-slider__img(src="./assets/img/contents/00Pg0000001vNAC.jpg" alt="slider1")
					li.tlf-slider__item.item
						a.tlf-navigation__link(href="#DatoseInternet-PE" title="Datos e Internet")
							figure.tlf-slider__cont-img
								img.tlf-slider__img(src="./assets/img/contents/00Pg0000001vN94.jpg" alt="slider2")
					li.tlf-slider__item.item
						a.tlf-navigation__link(href="#SolucionesMoviles-PE" title="Datos e Internet")
							figure.tlf-slider__cont-img
								img.tlf-slider__img(src="./assets/img/contents/00Pg0000001vNAC.jpg" alt="slider3")
					li.tlf-slider__item.item
						a.tlf-navigation__link(href="#Seguridaddelainformación-PE" title="Datos e Internet")
							figure.tlf-slider__cont-img
								img.tlf-slider__img(src="./assets/img/contents/SociedadDigital.jpg" alt="slider4")
				a.tlf-slider__arrow.tlf-slider__arrow--prev.carousel-control(title="prev" href="#slider" role="button" data-slide="prev")
				a.tlf-slider__arrow.tlf-slider__arrow--next.carousel-control(title="next" href="#slider" role="button" data-slide="next")
			nav.tlf-navigation.tlf-navigation__market
				ul.tlf-navigation__market__list
					li.tlf-navigation__item
						a.tlf-navigation__link(href="#SolucionesdeVoz-PE" title="Soluciones de Voz")
							figure.tlf-navigation__cont-img
								img.tlf-navigation__img(src="./assets/img/icons/tlf-mouse.png" alt="")
							!= "Soluciones de Voz"
					li.tlf-navigation__item
						a.tlf-navigation__link(href="#DatoseInternet-PE" title="Datos e Internet")
							figure.tlf-navigation__cont-img
								img.tlf-navigation__img(src="./assets/img/icons/tlf-Cloud.png" alt="")
							!= "Datos e Internet"
					li.tlf-navigation__item
						a.tlf-navigation__link(href="#SolucionesMoviles-PE" title="Soluciones móviles")
							figure.tlf-navigation__cont-img
								img.tlf-navigation__img(src="./assets/img/icons/tlf-mouse.png" alt="")
							!= "Soluciones m&oacute;viles"
					li.tlf-navigation__item
						a.tlf-navigation__link(href="#Seguridaddelainformación-PE" title="Seguridad de la información")
							figure.tlf-navigation__cont-img
								img.tlf-navigation__img(src="./assets/img/icons/tlf-equipo_cliente.png" alt="")
							!= "Seguridad de la informaci&oacute;n"
			ul.tlf-description__list
				li.tlf-description__item.tlf-description__item--solutions
					.tlf-description__contText
						a.tlf-description__titleLink(href="#" title="Soluciones de voz" id="SolucionesdeVoz-PE")
							h2.tlf-description__title Soluciones de voz
						p.tlf-description__text Ponemos a su disposici&oacute;n soluciones integrales de voz con elevados est&aacute;ndares de calidad. alta disponibilidad e infraestructura. soportada por una completa red digital con cobertura nacional que le permite a su negocio crecer frente a las exigencias del mercado.
						ul.tlf-description__subList
							li.tlf-description__subItem
								h3.tlf-description__subTitle Telefonia Corporativa
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Red Privada Movistar(RPM)
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Gestion de Trafico
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Red Inteligente
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Bolsa de minutos moviles
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Roming Internacional
								a.tlf-btn(href="#" title="Ver producto") Ver producto
						a.tlf-go-top(href="#top" title="Top") Ir arriba
				li.tlf-description__item.tlf-description__item--dates
					.tlf-description__contText
						a.tlf-description__titleLink(href="#" title="Datos e Internet" id="DatoseInternet-PE")
							h2.tlf-description__title Datos e internet
						p.tlf-description__text Estas soluciones proporcionan las capacidades de conectividad necesarias entre oficinas nacionales e internacionales de una empresa mediante la creaci&oacute;n de Redes Privadas Virtuales (VPN). de forma que puedan compartir los recursos desplegados en cada una
						ul.tlf-description__subList
							li.tlf-description__subItem
								h3.tlf-description__subTitle Red Privada Virtual
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Servicios Internacionales
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Acceso a Internet
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Servicios de Valor Agregado
								a.tlf-btn(href="#" title="Ver producto") Ver producto
						a.tlf-go-top(href="#top" title="Top") Ir arriba
				li.tlf-description__item.tlf-description__item--solutions
					.tlf-description__contText
						a.tlf-description__titleLink(href="#" title="Soluciones Moviles" id="SolucionesMoviles-PE")
							h2.tlf-description__title Soluciones moviles
						p.tlf-description__text Soluciones que permiten movilizar procesos de negocio agilizando la toma de decisiones y permitiendo el flujo de informaci&oacute;n del personal que se encuentra fuera de la oficina en tiempo real.
						ul.tlf-description__subList
							li.tlf-description__subItem
								h3.tlf-description__subTitle Correo Movil
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Aplicaciones Moviles
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Mensajeria Corporativa
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Banda ancha movil
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Soluciones M2M
								a.tlf-btn(href="#" title="Ver producto") Ver producto
						a.tlf-go-top(href="#top" title="Top") Ir arriba
				li.tlf-description__item.tlf-description__item--security
					.tlf-description__contText
						a.tlf-description__titleLink(href="#" title="Seguridad de la información" id="Seguridaddelainformación-PE")
							h2.tlf-description__title Seguridad de la informaci&oacute;n
						p.tlf-description__text Soluciones con tecnolog&iacute;a de &uacute;ltima generaci&oacute;n y soportados por personal calificado con las m&aacute;s altas certificaciones de fabricantes de equipamiento en seguridad. que aseguran una permanente protecci&oacute;n y salvaguarda de la informaci&oacute;n buscando mantener la confidencialidad. la disponibilidad e integridad de la misma.
						ul.tlf-description__subList
							li.tlf-description__subItem
								h3.tlf-description__subTitle Gesti&oacute;n de Vulnerabilidades
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Servicios Gestionados
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Soluciones de Seguridad Interna
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Seguridad y Gesti&oacute; de dispositivos m&oacute;viles
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Consultoria
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Servicios ElevenPaths
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Ciberseguridad - Detecci&oacute;n de amenazas
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Soluciones Perimetrales
								a.tlf-btn(href="#" title="Ver producto") Ver producto
							li.tlf-description__subItem
								h3.tlf-description__subTitle Servicios Cloud de Seguridad
								a.tlf-btn(href="#" title="Ver producto") Ver producto
						a.tlf-go-top(href="#top" title="Top") Ir arriba
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:
