apache-tomcat-9.0.0.M17/webapps/ROOT/src/myService_facturacionyEstadoCuenta.html
<!DOCTYPE html><!--[if gte IE 9]><html lang="es" dir="ltr" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="es" dir="ltr"><!--<![endif]-->
<head>
  <!-- Título página-->
  <title>My Service - Facturación y Estado De Cuenta - Telefonica CWP</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- build:css css/style.min.css -->
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/salesforce-lightning-design-system.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/dFront.css"/>
  <!-- Fin archivos CSS--><!-- endbuild -->
  <!-- Fin CSS Y SCRIPT compatibilidad IE--><!-- build:js js/main.min.js -->
  <!-- Archivos JS-->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script type="text/javascript" src="bower_components/respond/dest/respond.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="bower_components/tablesorter/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="js/dist/reflection.js"></script>
  <script type="text/javascript" src="js/dist/cloud-carousel.1.0.5.js"></script>
  <script type="text/javascript" src="bower_components/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="js/dist/wefront-script.js"></script>
  <!-- Fin rchivos JS--><!-- endbuild -->
</head>
<body data-ng-app="app" class="tlf-content">
  <header class="tlf-header">
    <div class="tlf-header__top">
      <div class="wrapper">
        <h1 class="u-hideAccessible">Telef&oacute;nica CPW</h1>
        <figure class="tlf-header__cont-img"><img src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica" class="tlf-header__img"></figure>
      </div>
    </div>
    <nav class="tlf-nav">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-8 col-md-9 col-sm-12">
            <ul class="tlf-nav__list">
              <li class="tlf-nav__item tlf-nav__item--icon"><a href="#" title="Home" class="tlf-nav__link tlf-nav__link--icon">Home</a></li>
              <li class="tlf-nav__item dropdown"><a href="#" title="Relationship Management" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Relationship Management</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Equipo telefónica" class="tlf-nav__subLink">Equipo telef&oacute;nica</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Agenda" class="tlf-nav__subLink">Agenda</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Comunidad Expertos" class="tlf-nav__subLink">Comunidad Expertos</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown"><a href="#" title="Service Tracking" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Service Tracking</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Reportes" class="tlf-nav__subLink">Reportes</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Monitoreo" class="tlf-nav__subLink">Monitoreo</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Tickets y Pedidos" class="tlf-nav__subLink">Tickets y Pedidos</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Portales" class="tlf-nav__subLink">Portales</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown selected"><a href="#" title="My Service" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">My Service</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Documentación" class="tlf-nav__subLink">Documentaci&oacute;n</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Market Place" class="tlf-nav__subLink">Market Place</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item"><a href="#" title="Ideas Corner" class="tlf-nav__link"><span class="tlf-nav__text">Ideas Corner</span></a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12">
            <form action="#" method="post" class="tlf-profile__contText">
              <fieldset>
                <legend class="u-hideAccessible">Formulario perfil</legend>
                <label for="name" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
                <select id="name" data-function="data-selectpicker" class="tlf-selectpicker">
                  <option>XXX - El Farolito de Lima</option>
                  <option>Cliente PostVenta</option>
                  <option>Lorem ipsum</option>
                </select>
              </fieldset>
            </form>
            <div class="tlf-contLinks"><a href="#" title="Ayuda" class="tlf-contLinks__text">Ayuda</a><a href="#" title="Salir" class="tlf-contLinks__text">Salir</a></div>
          </div>
        </div>
      </div>
    </nav>
    <nav class="tlf-nav--mobile navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle"><span class="sr-only">Cerrar</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div class="tlf-navbar__container">
          <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle tlf-btn__close"><span class="sr-only">Cerrar</span></button>
          <ul class="tlf-nav__listMb nav navbar-nav">
            <li><a href="#" title="Inicio" class="tlf-nav__linkMb">Inicio</a></li>
            <li><a href="#" title="Relationship Management" data-toggle="dropdown" class="dropdown-toggle">Relationship Management</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Equipo telefónica">Equipo telef&oacute;nica</a></li>
                <li><a href="#" title="Agenda">Agenda</a></li>
                <li><a href="#" title="Comunidad Expertos">Comunidad Expertos</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" title="Service Tracking" data-toggle="dropdown" class="dropdown-toggle">Service Tracking</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Reportes">Reportes</a></li>
                <li><a href="#" title="Monitoreo">Monitoreo</a></li>
                <li><a href="#" title="Tickets y Pedidos">Tickets y Pedidos</a></li>
                <li><a href="#" title="Portales">Portales</a></li>
              </ul>
            </li>
            <li class="dropdown active"><a href="#" data-toggle="dropdown" class="dropdown-toggle">My Service</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Documentación">Documentaci&oacute;n</a></li>
                <li><a href="#" title="Market Place">Market Place</a></li>
              </ul>
            </li>
            <li><a href="#" title="Ideas Corner">Ideas Corner</a></li>
          </ul>
          <form action="#" method="post" class="tlf-profile__contText">
            <fieldset class="form-group">
              <legend class="u-hideAccessible">Formulario perfil</legend>
              <label for="nameMbl" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
              <select id="nameMbl" data-function="data-selectpicker" class="tlf-selectpicker">
                <option>XXX - El Farolito de Lima</option>
                <option>Cliente PostVenta</option>
                <option>Lorem ipsum</option>
              </select>
            </fieldset>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Ayuda</a></li>
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="tlf-container">
    <div class="tlf-show">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="tlf-cont-title">
              <figure class="tlf-container__cont-img"><img src="./assets/img/icons/tlf-factura_a.png" alt="Factura" class="tlf-container__img"></figure>
              <h2 class="tlf-container__title"><span class="tlf-container__text">Facturaci&oacute;n y Estado de Cuenta</span></h2>
            </div>
            <form action="#" method="post" class="tlf-form">
              <fieldset class="tlf-form__fieldset">
                <legend class="u-hideAccessible">Formulario b&uacute;squeda</legend>
                <label for="selecciona" class="u-hideAccessible">Selecciona una de las opciones</label>
                <select id="selecciona" data-function="data-selectpicker" class="tlf-selectpicker">
                  <option>N&uacute;mero Fiscal de Factura</option>
                  <option>N&uacute;mero Fiscal de Factura</option>
                  <option>N&uacute;mero Fiscal de Factura</option>
                </select>
                <label for="buscar" class="u-hideAccessible">B&uacute;squeda</label>
                <input type="search" id="buscar" class="tlf-form__search">
                <input id="busqueda" type="button" value="Buscar" class="tlf-btn tlf-btn--big">
              </fieldset>
            </form>
          </div>
        </div>
        <section class="tlf-tabs">
          <div class="tlf-tabs__block">
            <ul class="tlf-tabs__nav nav nav-tabs">
              <li class="tlf-tabs__item active"><a href="#tab1" data-toggle="pill" title="Facturación" class="tlf-tabs__link">Facturaci&oacute;n</a></li>
              <li class="tlf-tabs__item"><a href="#tab2" data-toggle="pill" title="Estado de Cuenta" class="tlf-tabs__link">Estado de Cuenta</a></li>
            </ul>
          </div><a href="#" title="Análisis de facturación" class="tlf-btn">An&aacute;lisis de facturaci&oacute;n</a>
          <div class="tab-content tlf-tabs__content">
            <div id="tab1" class="tab-pane fade in active">
              <table class="tlf-table">
                <caption class="u-hideAccessible">Tabla facturaci&oacute;n</caption>
                <thead class="tlf-table__head">
                  <tr class="tlf-table__head__row tlf-table__row--color">
                    <th class="tlf-table__head__col tlf-table__head__col--show"><a href="#" title="Número fiscal de Factura" class="tlf-table__head__link"><span class="tlf-table__text">N&uacute;mero fiscal de Factura</span></a></th>
                    <th class="tlf-table__head__col"><a href="#" title="Fecha de emisión" class="tlf-table__head__link"><span class="tlf-table__text">Fecha de emisi&oacute;n</span></a></th>
                    <th class="tlf-table__head__col"><a href="#" title="Fecha de vencimiento" class="tlf-table__head__link"><span class="tlf-table__text">Fecha de vencimiento</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--show"><a href="#" title="Importe Factura" class="tlf-table__head__link"><span class="tlf-table__text">Importe Factura</span></a></th>
                    <th class="tlf-table__head__col"><a href="#" title="Importe s/impuestos" class="tlf-table__head__link"><span class="tlf-table__text">Importe s/impuestos</span></a></th>
                    <th class="tlf-table__head__col"><a href="#" title="Impuestos" class="tlf-table__head__link"><span class="tlf-table__text">Impuestos</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--showMbl"><span>Datos m&oacute;vil</span></th>
                  </tr>
                </thead>
                <tbody class="tlf-table__body">
                  <tr data-target="#datos" data-toggle="collapse" class="tlf-table__body__row collapsed">
                    <td class="tlf-table__body__col tlf-table__body__col--show"><a href="#" title="1" data-toggle="modal" data-target="#tlf-detail" class="tlf-table__body__link">1</a></td>
                    <td class="tlf-table__body__col">13/10/2016</td>
                    <td class="tlf-table__body__col">13/11/2016</td>
                    <td class="tlf-table__body__col tlf-table__body__col--show">250&euro;</td>
                    <td class="tlf-table__body__col">25&euro;</td>
                    <td class="tlf-table__body__col">48&euro;</td>
                    <td id="datos" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Fecha de emisi&oacute;n<span class="tlf-table__showMbl__sbText">13/10/2016</span></span><span class="tlf-table__showMbl__text">Fecha de vencimiento<span class="tlf-table__showMbl__sbText">13/11/2016</span></span><span class="tlf-table__showMbl__text">Importe s/impuestos<span class="tlf-table__showMbl__sbText">25&euro;</span></span><span class="tlf-table__showMbl__text">Impuestos<span class="tlf-table__showMbl__sbText">48&euro;</span></span></td>
                  </tr>
                  <tr data-target="#datos1" data-toggle="collapse" class="tlf-table__body__row collapsed">
                    <td class="tlf-table__body__col tlf-table__body__col--show"><a href="#" title="1" data-toggle="modal" data-target="#tlf-detail" class="tlf-table__body__link">1</a></td>
                    <td class="tlf-table__body__col">13/10/2016</td>
                    <td class="tlf-table__body__col">13/11/2016</td>
                    <td class="tlf-table__body__col tlf-table__body__col--show">250&euro;</td>
                    <td class="tlf-table__body__col">25&euro;</td>
                    <td class="tlf-table__body__col">48&euro;</td>
                    <td id="datos1" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Fecha de emisi&oacute;n<span class="tlf-table__showMbl__sbText">13/10/2016</span></span><span class="tlf-table__showMbl__text">Fecha de vencimiento<span class="tlf-table__showMbl__sbText">13/11/2016</span></span><span class="tlf-table__showMbl__text">Importe s/impuestos<span class="tlf-table__showMbl__sbText">25&euro;</span></span><span class="tlf-table__showMbl__text">Impuestos<span class="tlf-table__showMbl__sbText">48&euro;</span></span></td>
                  </tr>
                  <tr data-target="#datos2" data-toggle="collapse" class="tlf-table__body__row collapsed">
                    <td class="tlf-table__body__col tlf-table__body__col--show"><a href="#" title="1" data-toggle="modal" data-target="#tlf-detail" class="tlf-table__body__link">1</a></td>
                    <td class="tlf-table__body__col">13/10/2016</td>
                    <td class="tlf-table__body__col">13/11/2016</td>
                    <td class="tlf-table__body__col tlf-table__body__col--show">250&euro;</td>
                    <td class="tlf-table__body__col">25&euro;</td>
                    <td class="tlf-table__body__col">48&euro;</td>
                    <td id="datos2" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Fecha de emisi&oacute;n<span class="tlf-table__showMbl__sbText">13/10/2016</span></span><span class="tlf-table__showMbl__text">Fecha de vencimiento<span class="tlf-table__showMbl__sbText">13/11/2016</span></span><span class="tlf-table__showMbl__text">Importe s/impuestos<span class="tlf-table__showMbl__sbText">25&euro;</span></span><span class="tlf-table__showMbl__text">Impuestos<span class="tlf-table__showMbl__sbText">48&euro;</span></span></td>
                  </tr>
                </tbody>
                <tfoot class="tlf-table__foot">
                  <tr>
                    <td colspan="7" class="tlf-table__foot__col">
                      <form action="#" method="post">
                        <fieldset>
                          <legend class="u-hideAccessible">N&uacute;mero de p&aacute;ginas</legend>
                          <select id="pagination2" data-function="data-selectpicker" class="tlf-table__select">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                          </select>
                          <label for="pagination2" class="tlf-pagination"><a href="#" title="Página anterior" class="tlf-pagination__link tlf-pagination__link--prev disabled">P&aacute;gina anterior</a><span class="tlf-pagination__text">(1 - 8 de 8)</span><a href="#" title="Página siguiente" class="tlf-pagination__link tlf-pagination__link--next">P&aacute;gina siguiente</a></label>
                        </fieldset>
                      </form>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div id="tab2" class="tab-pane fade">
              <table class="tlf-table">
                <caption class="u-hideAccessible">Tabla estado de cuenta</caption>
                <thead class="tlf-table__head">
                  <tr class="tlf-table__head__row tlf-table__row--color">
                    <th class="tlf-table__head__col"><a href="#" title="Referencia" class="tlf-table__head__link"><span class="tlf-table__text">Referencia</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--show-second"><a href="#" title="Tipo" class="tlf-table__head__link"><span class="tlf-table__text">Tipo</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--show tlf-table__head__col--hideTbl"><a href="#" title="Deuda 0-30 días" class="tlf-table__head__link"><span class="tlf-table__text">Deuda 0-30 d&iacute;as</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--hideTbl"><a href="#" title="Deuda 30-60 días" class="tlf-table__head__link"><span class="tlf-table__text">Deuda 30-60 d&iacute;as</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--hideTbl"><a href="#" title="Deuda 60-90 días" class="tlf-table__head__link"><span class="tlf-table__text">Deuda 60-90 d&iacute;as</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--hideTbl"><a href="#" title="Deuda 90-120 días" class="tlf-table__head__link"><span class="tlf-table__text">Deuda 90-120 d&iacute;as</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--hideTbl"><a href="#" title="Deuda mayor 120 días" class="tlf-table__head__link"><span class="tlf-table__text">Deuda mayor 120 d&iacute;as</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--showMbl"><span>Datos m&oacute;vil</span></th>
                  </tr>
                </thead>
                <tbody class="tlf-table__body">
                  <tr data-target="#datos3" data-toggle="collapse" class="tlf-table__body__row collapsed">
                    <td class="tlf-table__body__col"><a href="#" title="255788556" data-toggle="modal" data-target="#tlf-detail" class="tlf-table__body__link">255788556</a></td>
                    <td class="tlf-table__body__col tlf-table__body__col--show-second">6.90%</td>
                    <td class="tlf-table__body__col tlf-table__body__col--show tlf-table__head__col--hideTbl">25.000</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">25.500</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">26.000</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">26.500</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">27.000</td>
                    <td id="datos3" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Referencia<span class="tlf-table__showMbl__sbText">255788556</span></span><span class="tlf-table__showMbl__text">Deuda 30-60 d&iacute;as<span class="tlf-table__showMbl__sbText">25.500</span></span><span class="tlf-table__showMbl__text">Deuda 60-90 d&iacute;as<span class="tlf-table__showMbl__sbText">26.000</span></span><span class="tlf-table__showMbl__text">Deuda 90-120 d&iacute;as<span class="tlf-table__showMbl__sbText">26.500</span></span><span class="tlf-table__showMbl__text">Deuda mayor 120 d&iacute;as<span class="tlf-table__showMbl__sbText">27.000</span></span></td>
                  </tr>
                  <tr data-target="#datos4" data-toggle="collapse" class="tlf-table__body__row collapsed">
                    <td class="tlf-table__body__col"><a href="#" title="255788556" data-toggle="modal" data-target="#tlf-detail" class="tlf-table__body__link">255788556</a></td>
                    <td class="tlf-table__body__col tlf-table__body__col--show-second">6.90%</td>
                    <td class="tlf-table__body__col tlf-table__body__col--show tlf-table__head__col--hideTbl">25.000</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">25.500</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">26.000</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">26.500</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">27.000</td>
                    <td id="datos4" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Referencia<span class="tlf-table__showMbl__sbText">255788556</span></span><span class="tlf-table__showMbl__text">Deuda 30-60 d&iacute;as<span class="tlf-table__showMbl__sbText">25.500</span></span><span class="tlf-table__showMbl__text">Deuda 60-90 d&iacute;as<span class="tlf-table__showMbl__sbText">26.000</span></span><span class="tlf-table__showMbl__text">Deuda 90-120 d&iacute;as<span class="tlf-table__showMbl__sbText">26.500</span></span><span class="tlf-table__showMbl__text">Deuda mayor 120 d&iacute;as<span class="tlf-table__showMbl__sbText">27.000</span></span></td>
                  </tr>
                  <tr data-target="#datos5" data-toggle="collapse" class="tlf-table__body__row collapsed">
                    <td class="tlf-table__body__col"><a href="#" title="255788556" data-toggle="modal" data-target="#tlf-detail" class="tlf-table__body__link">255788556</a></td>
                    <td class="tlf-table__body__col tlf-table__body__col--show-second">6.90%</td>
                    <td class="tlf-table__body__col tlf-table__body__col--show tlf-table__head__col--hideTbl">25.000</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">25.500</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">26.000</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">26.500</td>
                    <td class="tlf-table__body__col tlf-table__head__col--hideTbl">27.000</td>
                    <td id="datos5" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Referencia<span class="tlf-table__showMbl__sbText">255788556</span></span><span class="tlf-table__showMbl__text">Deuda 30-60 d&iacute;as<span class="tlf-table__showMbl__sbText">25.500</span></span><span class="tlf-table__showMbl__text">Deuda 60-90 d&iacute;as<span class="tlf-table__showMbl__sbText">26.000</span></span><span class="tlf-table__showMbl__text">Deuda 90-120 d&iacute;as<span class="tlf-table__showMbl__sbText">26.500</span></span><span class="tlf-table__showMbl__text">Deuda mayor 120 d&iacute;as<span class="tlf-table__showMbl__sbText">27.000</span></span></td>
                  </tr>
                </tbody>
                <tfoot class="tlf-table__foot">
                  <tr>
                    <td colspan="8" class="tlf-table__foot__col">
                      <form action="#" method="post">
                        <fieldset>
                          <legend class="u-hideAccessible">N&uacute;mero de p&aacute;ginas</legend>
                          <select id="pagination" data-function="data-selectpicker" class="tlf-table__select">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                          </select>
                          <label for="pagination" class="tlf-pagination"><a href="#" title="Página anterior" class="tlf-pagination__link tlf-pagination__link--prev disabled">P&aacute;gina anterior</a><span class="tlf-pagination__text">(1 - 8 de 8)</span><a href="#" title="Página siguiente" class="tlf-pagination__link tlf-pagination__link--next">P&aacute;gina siguiente</a></label>
                        </fieldset>
                      </form>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div id="tlf-detail" data-function="modal-focus" class="modal fade tlf-new__modal">
      <div class="modal-dialog">
        <div class="modal-content tlf-new__modal__content">
          <button type="button" data-dismiss="modal" aria-label="Close" data-function="focus" class="tlf-new__modal__close"></button>
          <div class="modal-body tlf-new__modal__body">
            <form action="#" method="post" class="tlf-new__modal__form">
              <fieldset class="tlf-new__modal__fieldset">
                <legend class="tlf-new__modal__form__legend">Detalle de la Factura</legend>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">N&uacute;mero Fiscal de Factura:</span><span class="tlf-new__modal__input">facturaPrueba11</span></div>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Tipo de facturaci&oacute;n</span><span class="tlf-new__modal__input">N/A</span></div>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Fecha de emisi&oacute;n</span><span class="tlf-new__modal__input">1/02/2017</span></div>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Importe s/impuestos</span><span class="tlf-new__modal__input">10000.00 EUR</span></div>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Fecha de vencimiento</span><span class="tlf-new__modal__input">0/02/2017</span></div>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Impuestos</span><span class="tlf-new__modal__input">11.00 EUR</span></div>
                <div class="tlf-contBtn tlf-contBtn--large">
                  <input type="button" value="Enviar información a Gerente" data-toggle="modal" data-target="#" class="tlf-btn">
                  <input type="button" value="Cerrar" aria-label="close" data-dismiss="modal" class="tlf-hideDesktop tlf-btn">
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="tlf-footer">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="tlf-footer__container">
            <h2 class="tlf-footer__title">&copy;Telef&oacute;nica S.A.</h2><span class="tlf-footer__text">Compartir este sitio en:</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body></html>

apache-tomcat-9.0.0.M17/webapps/ROOT/src/jade/templates/myService_facturacionyEstadoCuenta.jade
extends ../layouts/layout__primary


block title
	title!='My Service - Facturación y Estado De Cuenta - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown.active
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset.form-group
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		//- Clase que se añade para que la modal en tablet y móvil ocupe el 100%
		.tlf-show
			.wrapper
				.row
					.col-lg-12.col-md-12.col-sm-12
						.tlf-cont-title
							figure.tlf-container__cont-img
								img.tlf-container__img(src="./assets/img/icons/tlf-factura_a.png" alt="Factura")
							h2.tlf-container__title
								span.tlf-container__text Facturaci&oacute;n y Estado de Cuenta
						form.tlf-form(action="#" method="post")
							fieldset.tlf-form__fieldset
								legend.u-hideAccessible Formulario b&uacute;squeda
								label.u-hideAccessible(for="selecciona") Selecciona una de las opciones
								select.tlf-selectpicker(id="selecciona" data-function='data-selectpicker')
									option N&uacute;mero Fiscal de Factura
									option N&uacute;mero Fiscal de Factura
									option N&uacute;mero Fiscal de Factura
								label.u-hideAccessible(for="buscar") B&uacute;squeda
								input.tlf-form__search(type="search" id="buscar")
								input.tlf-btn.tlf-btn--big(id="busqueda" type="button" value="Buscar")
				section.tlf-tabs
					.tlf-tabs__block
						ul.tlf-tabs__nav.nav.nav-tabs
							li.tlf-tabs__item.active
								a.tlf-tabs__link(href="#tab1" data-toggle="pill" title="Facturación") Facturaci&oacute;n
							li.tlf-tabs__item
								a.tlf-tabs__link(href="#tab2" data-toggle="pill" title="Estado de Cuenta") Estado de Cuenta
					a.tlf-btn(href="#" title="Análisis de facturación") An&aacute;lisis de facturaci&oacute;n
					.tab-content.tlf-tabs__content
						#tab1.tab-pane.fade.in.active
							table.tlf-table
								caption.u-hideAccessible Tabla facturaci&oacute;n
								thead.tlf-table__head
									tr.tlf-table__head__row.tlf-table__row--color
										th.tlf-table__head__col.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Número fiscal de Factura")
												span.tlf-table__text N&uacute;mero fiscal de Factura
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Fecha de emisión")
												span.tlf-table__text Fecha de emisi&oacute;n
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Fecha de vencimiento")
												span.tlf-table__text Fecha de vencimiento
										th.tlf-table__head__col.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Importe Factura")
												span.tlf-table__text Importe Factura
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Importe s/impuestos")
												span.tlf-table__text Importe s/impuestos
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Impuestos")
												span.tlf-table__text Impuestos
										th.tlf-table__head__col.tlf-table__head__col--showMbl
											span Datos m&oacute;vil
								tbody.tlf-table__body
									tr.tlf-table__body__row.collapsed(data-target="#datos" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show
											a.tlf-table__body__link(href="#" title="1" data-toggle="modal" data-target="#tlf-detail") 1
										td.tlf-table__body__col 13/10/2016
										td.tlf-table__body__col 13/11/2016
										td.tlf-table__body__col.tlf-table__body__col--show 250&euro;
										td.tlf-table__body__col 25&euro;
										td.tlf-table__body__col 48&euro;
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos.collapse
											span.tlf-table__showMbl__text Fecha de emisi&oacute;n
												span.tlf-table__showMbl__sbText 13/10/2016
											span.tlf-table__showMbl__text Fecha de vencimiento
												span.tlf-table__showMbl__sbText 13/11/2016
											span.tlf-table__showMbl__text Importe s/impuestos
												span.tlf-table__showMbl__sbText 25&euro;
											span.tlf-table__showMbl__text Impuestos
												span.tlf-table__showMbl__sbText 48&euro;
									tr.tlf-table__body__row.collapsed(data-target="#datos1" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show
											a.tlf-table__body__link(href="#" title="1" data-toggle="modal" data-target="#tlf-detail") 1
										td.tlf-table__body__col 13/10/2016
										td.tlf-table__body__col 13/11/2016
										td.tlf-table__body__col.tlf-table__body__col--show 250&euro;
										td.tlf-table__body__col 25&euro;
										td.tlf-table__body__col 48&euro;
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos1.collapse
											span.tlf-table__showMbl__text Fecha de emisi&oacute;n
												span.tlf-table__showMbl__sbText 13/10/2016
											span.tlf-table__showMbl__text Fecha de vencimiento
												span.tlf-table__showMbl__sbText 13/11/2016
											span.tlf-table__showMbl__text Importe s/impuestos
												span.tlf-table__showMbl__sbText 25&euro;
											span.tlf-table__showMbl__text Impuestos
												span.tlf-table__showMbl__sbText 48&euro;
									tr.tlf-table__body__row.collapsed(data-target="#datos2" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show
											a.tlf-table__body__link(href="#" title="1" data-toggle="modal" data-target="#tlf-detail") 1
										td.tlf-table__body__col 13/10/2016
										td.tlf-table__body__col 13/11/2016
										td.tlf-table__body__col.tlf-table__body__col--show 250&euro;
										td.tlf-table__body__col 25&euro;
										td.tlf-table__body__col 48&euro;
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos2.collapse
											span.tlf-table__showMbl__text Fecha de emisi&oacute;n
												span.tlf-table__showMbl__sbText 13/10/2016
											span.tlf-table__showMbl__text Fecha de vencimiento
												span.tlf-table__showMbl__sbText 13/11/2016
											span.tlf-table__showMbl__text Importe s/impuestos
												span.tlf-table__showMbl__sbText 25&euro;
											span.tlf-table__showMbl__text Impuestos
												span.tlf-table__showMbl__sbText 48&euro;
								tfoot.tlf-table__foot
									tr
										td.tlf-table__foot__col(colspan="7")
											form(action="#" method="post")
												fieldset
													legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
													select.tlf-table__select(id="pagination2" data-function='data-selectpicker')
														option 10
														option 25
														option 50
														option 100
														option 200
													label.tlf-pagination(for="pagination2")
														a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
														span.tlf-pagination__text (1 - 8 de 8)
														a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
						#tab2.tab-pane.fade
							table.tlf-table
								caption.u-hideAccessible Tabla estado de cuenta
								thead.tlf-table__head
									tr.tlf-table__head__row.tlf-table__row--color
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Referencia")
												span.tlf-table__text Referencia
										th.tlf-table__head__col.tlf-table__head__col--show-second
											a.tlf-table__head__link(href="#" title="Tipo")
												span.tlf-table__text Tipo
										th.tlf-table__head__col.tlf-table__head__col--show.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Deuda 0-30 días")
												span.tlf-table__text Deuda 0-30 d&iacute;as
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Deuda 30-60 días")
												span.tlf-table__text Deuda 30-60 d&iacute;as
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Deuda 60-90 días")
												span.tlf-table__text Deuda 60-90 d&iacute;as
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Deuda 90-120 días")
												span.tlf-table__text Deuda 90-120 d&iacute;as
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Deuda mayor 120 días")
												span.tlf-table__text Deuda mayor 120 d&iacute;as
										th.tlf-table__head__col.tlf-table__head__col--showMbl
											span Datos m&oacute;vil
								tbody.tlf-table__body
									tr.tlf-table__body__row.collapsed(data-target="#datos3" data-toggle="collapse")
										td.tlf-table__body__col
											a.tlf-table__body__link(href="#" title="255788556" data-toggle="modal" data-target="#tlf-detail") 255788556
										td.tlf-table__body__col.tlf-table__body__col--show-second 6.90%
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__head__col--hideTbl 25.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 25.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 27.000
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos3.collapse
											span.tlf-table__showMbl__text Referencia
												span.tlf-table__showMbl__sbText 255788556
											span.tlf-table__showMbl__text Deuda 30-60 d&iacute;as
												span.tlf-table__showMbl__sbText 25.500
											span.tlf-table__showMbl__text Deuda 60-90 d&iacute;as
												span.tlf-table__showMbl__sbText 26.000
											span.tlf-table__showMbl__text Deuda 90-120 d&iacute;as
												span.tlf-table__showMbl__sbText 26.500
											span.tlf-table__showMbl__text Deuda mayor 120 d&iacute;as
												span.tlf-table__showMbl__sbText 27.000
									tr.tlf-table__body__row.collapsed(data-target="#datos4" data-toggle="collapse")
										td.tlf-table__body__col
											a.tlf-table__body__link(href="#" title="255788556" data-toggle="modal" data-target="#tlf-detail") 255788556
										td.tlf-table__body__col.tlf-table__body__col--show-second 6.90%
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__head__col--hideTbl 25.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 25.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 27.000
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos4.collapse
											span.tlf-table__showMbl__text Referencia
												span.tlf-table__showMbl__sbText 255788556
											span.tlf-table__showMbl__text Deuda 30-60 d&iacute;as
												span.tlf-table__showMbl__sbText 25.500
											span.tlf-table__showMbl__text Deuda 60-90 d&iacute;as
												span.tlf-table__showMbl__sbText 26.000
											span.tlf-table__showMbl__text Deuda 90-120 d&iacute;as
												span.tlf-table__showMbl__sbText 26.500
											span.tlf-table__showMbl__text Deuda mayor 120 d&iacute;as
												span.tlf-table__showMbl__sbText 27.000
									tr.tlf-table__body__row.collapsed(data-target="#datos5" data-toggle="collapse")
										td.tlf-table__body__col
											a.tlf-table__body__link(href="#" title="255788556" data-toggle="modal" data-target="#tlf-detail") 255788556
										td.tlf-table__body__col.tlf-table__body__col--show-second 6.90%
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__head__col--hideTbl 25.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 25.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 27.000
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos5.collapse
											span.tlf-table__showMbl__text Referencia
												span.tlf-table__showMbl__sbText 255788556
											span.tlf-table__showMbl__text Deuda 30-60 d&iacute;as
												span.tlf-table__showMbl__sbText 25.500
											span.tlf-table__showMbl__text Deuda 60-90 d&iacute;as
												span.tlf-table__showMbl__sbText 26.000
											span.tlf-table__showMbl__text Deuda 90-120 d&iacute;as
												span.tlf-table__showMbl__sbText 26.500
											span.tlf-table__showMbl__text Deuda mayor 120 d&iacute;as
												span.tlf-table__showMbl__sbText 27.000
								tfoot.tlf-table__foot
									tr
										td.tlf-table__foot__col(colspan="8")
											form(action="#" method="post")
												fieldset
													legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
													select.tlf-table__select(id="pagination" data-function='data-selectpicker')
														option 10
														option 25
														option 50
														option 100
														option 200
													label.tlf-pagination(for="pagination")
														a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
														span.tlf-pagination__text (1 - 8 de 8)
														a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
		//- modal detalle
		.modal.fade.tlf-new__modal#tlf-detail(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend Detalle de la Factura
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label N&uacute;mero Fiscal de Factura:
									span.tlf-new__modal__input facturaPrueba11
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Tipo de facturaci&oacute;n
									span.tlf-new__modal__input N/A
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Fecha de emisi&oacute;n
									span.tlf-new__modal__input 1/02/2017
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Importe s/impuestos
									span.tlf-new__modal__input 10000.00 EUR
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Fecha de vencimiento
									span.tlf-new__modal__input 0/02/2017
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Impuestos
									span.tlf-new__modal__input 11.00 EUR
								.tlf-contBtn.tlf-contBtn--large
									input.tlf-btn(type="button" value="Enviar información a Gerente" data-toggle="modal" data-target="#")
									input.tlf-hideDesktop.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
				//- end modal detalle
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:
