apache-tomcat-9.0.0.M17/webapps/ROOT/src/jade/templates/relationshipManagement__equipo.jade
extends ../layouts/layout__primary


block title
	title!='Relationship Management - Equipo Telefónica - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li.active
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					figure.tlf-container__cont-img
						img.tlf-container__img(src="./assets/img/icons/tlf-equipo_cliente.png" alt="Equipo")
					h2.tlf-container__title
						span.tlf-container__text Equipo de Telef&oacute;nica
					a.tlf-container__sincro(href="#" title="OneDrive") OneDrive
					section.tlf-carousel__team(data-function='data-carousel__team')
						.tlf-carousel__team__item
							a.tlf-carousel__team__linkT(href="#" title="Nicolás Howard")
								h3.tlf-carousel__team__title Nicol&aacute;s Howard
							figure.tlf-carousel__team__cont-img
								img.tlf-carousel__team__img(src="./assets/img/contents/nicolas.jpg" alt="Nicolás Howard")
							.tlf-carousel__team--right
								a.tlf-carousel__team--email(href="#" title="Enviar Email") Enviar Email
								a.tlf-carousel__team--task(href="#" title="Solicitar Cita") Solicitar Cita
							a.tlf-carousel__team__link(href="#" title="Datos de contacto")
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Email:
									!=" nicolas.howard=telefonica.com@example.com"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Tel&eacute;fono:
									!=" +54911447785608"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold M&oacute;vil:
									!=" +34626880393"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Rol:
									!=" Contacto principal"
						.tlf-carousel__team__item
							a.tlf-carousel__team__linkT(href="#" title="Juan Pablo Valerga")
								h3.tlf-carousel__team__title Juan Pablo Valerga
							figure.tlf-carousel__team__cont-img
								img.tlf-carousel__team__img(src="./assets/img/contents/juan.jpg" alt="Juan Pablo Valerga")
							.tlf-carousel__team--right
								a.tlf-carousel__team--email(href="#" title="Enviar Email") Enviar Email
								a.tlf-carousel__team--task(href="#" title="Solicitar Cita") Solicitar Cita
							a.tlf-carousel__team__link(href="#" title="Datos de contacto")
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Email:
									!=" juan.valerga@telefonica.com"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Tel&eacute;fono:
									!=" No disponible"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold M&oacute;vil:
									!=" +54 911 4421 0553"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Rol:
									!=" Ingenier&iacute;a de Clientes"
						.tlf-carousel__team__item
							a.tlf-carousel__team__linkT(href="#" title="Fernando Andrada")
								h3.tlf-carousel__team__title Fernando Andrada
							figure.tlf-carousel__team__cont-img
								img.tlf-carousel__team__img(src="./assets/img/contents/fernando.jpg" alt="Fernando Andrada")
							.tlf-carousel__team--right
								a.tlf-carousel__team--email(href="#" title="Enviar Email") Enviar Email
								a.tlf-carousel__team--task(href="#" title="Solicitar Cita") Solicitar Cita
							a.tlf-carousel__team__link(href="#" title="Datos de contacto")
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Email:
									!=" fernando.andrada@telefonica.com"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Tel&eacute;fono:
									!=" +541153211969"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold M&oacute;vil:
									!=" No disponible"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Rol:
									!=" Atenci&oacute;n al Cliente"
						.tlf-carousel__team__item
							a.tlf-carousel__team__linkT(href="#" title="José Ruiz Carrillo")
								h3.tlf-carousel__team__title Jos&eacute; Ruiz Carrillo
							figure.tlf-carousel__team__cont-img
								img.tlf-carousel__team__img(src="./assets/img/contents/noDisponible.png" alt="José Ruiz Carrillo")
							.tlf-carousel__team--right
								a.tlf-carousel__team--email(href="#" title="Enviar Email") Enviar Email
								a.tlf-carousel__team--task(href="#" title="Solicitar Cita") Solicitar Cita
							a.tlf-carousel__team__link(href="#" title="Datos de contacto")
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Email:
									!=" jose.ruiz.carrillo@everis.com"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Tel&eacute;fono:
									!=" No disponible"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold M&oacute;vil:
									!=" No disponible"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Rol:
									!=" Ejecutivo de Cobros"
			.row
				.col-lg-12.col-md-12.col-sm-12
					figure.tlf-container__cont-img
						img.tlf-container__img(src="./assets/img/icons/tlf-equipo_cliente.png" alt="Equipo")
					h2.tlf-container__title
						span.tlf-container__text Equipo de Cliente
					a.tlf-btn.tlf-btn--center.tlf-btn--dark(href="#" title="Solicitud de cambio") Solicitud de cambio

			table.tlf-table
				caption.u-hideAccessible Tabla equipo de cliente
				thead.tlf-table__head
					tr.tlf-table__head__row.tlf-table__row--color
						th.tlf-table__head__col.tlf-table__head__col--show
							a.tlf-table__head__link(href="#" title="Nombre completo")
								span.tlf-table__text Nombre completo
						th.tlf-table__head__col
							a.tlf-table__head__link(href="#" title="Cargo")
								span.tlf-table__text Cargo
						th.tlf-table__head__col.tlf-table__head__col--show
							a.tlf-table__head__link(href="#" title="Correo electrónico")
								span.tlf-table__text Correo electr&oacute;nico
						th.tlf-table__head__col
							a.tlf-table__head__link(href="#" title="Teléfono de trabajo")
								span.tlf-table__text Tel&eacute;fono de trabajo
						th.tlf-table__head__col
							a.tlf-table__head__link(href="#" title="Teléfono móvil")
								span.tlf-table__text Tel&eacute;fono m&oacute;vil
						th.tlf-table__head__col.tlf-table__head__col--showMbl
							span Datos m&oacute;vil
				tbody.tlf-table__body
					tr.tlf-table__body__row.collapsed(data-target="#datos" data-toggle="collapse")
						td.tlf-table__body__col.tlf-table__body__col--show
							a.tlf-table__body__link(title="Pato Connon") Pato Connon
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--show pconnon@gmail.com
						td.tlf-table__body__col
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--showMbl#datos.collapse
							span.tlf-table__showMbl__text Cargo
								span.tlf-table__showMbl__sbText Cargo ejemplo
							span.tlf-table__showMbl__text Tel&eacute;fono de trabajo
								span.tlf-table__showMbl__sbText 912345678
							span.tlf-table__showMbl__text Tel&eacute;fono m&oacute;vil
								span.tlf-table__showMbl__sbText 678901234
					tr.tlf-table__body__row.collapsed(data-target="#datos1" data-toggle="collapse")
						td.tlf-table__body__col.tlf-table__body__col--show
							a.tlf-table__body__link(href="#" title="Chango Cárdenas") Chango C&aacute;rdenas
						td.tlf-table__body__col Goleador
						td.tlf-table__body__col.tlf-table__body__col--show nicolas.howard@telefonica.com
						td.tlf-table__body__col
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--showMbl#datos1.collapse
							span.tlf-table__showMbl__text Cargo
								span.tlf-table__showMbl__sbText Cargo ejemplo
							span.tlf-table__showMbl__text Tel&eacute;fono de trabajo
								span.tlf-table__showMbl__sbText 912345678
							span.tlf-table__showMbl__text Tel&eacute;fono m&oacute;vil
								span.tlf-table__showMbl__sbText 678901234
					tr.tlf-table__body__row.collapsed(data-target="#datos2" data-toggle="collapse")
						td.tlf-table__body__col.tlf-table__body__col--show
							a.tlf-table__body__link(href="#" title="Muñoz Mateu") Mu&ntilde;oz Mateu
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--show josemi.fierro@aborda.es
						td.tlf-table__body__col +51950671360
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--showMbl#datos2.collapse
							span.tlf-table__showMbl__text Cargo
								span.tlf-table__showMbl__sbText Cargo ejemplo
							span.tlf-table__showMbl__text Tel&eacute;fono de trabajo
								span.tlf-table__showMbl__sbText 912345678
							span.tlf-table__showMbl__text Tel&eacute;fono m&oacute;vil
								span.tlf-table__showMbl__sbText 678901234
					tr.tlf-table__body__row.collapsed(data-target="#datos3" data-toggle="collapse")
						td.tlf-table__body__col.tlf-table__body__col--show
							a.tlf-table__body__link(href="#" title="XXX XXX") XXX XXX
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--show micah.burgos@aborda.es.test
						td.tlf-table__body__col 665669663
						td.tlf-table__body__col 669665669
						td.tlf-table__body__col.tlf-table__body__col--showMbl#datos3.collapse
							span.tlf-table__showMbl__text Cargo
								span.tlf-table__showMbl__sbText Cargo ejemplo
							span.tlf-table__showMbl__text Tel&eacute;fono de trabajo
								span.tlf-table__showMbl__sbText 912345678
							span.tlf-table__showMbl__text Tel&eacute;fono m&oacute;vil
								span.tlf-table__showMbl__sbText 678901234
				tfoot.tlf-table__foot
					tr
						td.tlf-table__foot__col(colspan="6")
							form(action="#" method="post")
								fieldset
									legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
									select.tlf-table__select(id="pagination" data-function='data-selectpicker')
										option 10
										option 25
										option 50
										option 100
										option 200
									label.tlf-pagination(for="pagination")
										a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
										span.tlf-pagination__text (1 - 8 de 8)
										a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:

apache-tomcat-9.0.0.M17/webapps/ROOT/src/relationshipManagement__equipo.html
<!DOCTYPE html><!--[if gte IE 9]><html lang="es" dir="ltr" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="es" dir="ltr"><!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Relationship Management - Equipo Telefónica - Telefonica CWP</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- build:css css/style.min.css -->
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/salesforce-lightning-design-system.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/dFront.css"/>
  <!-- Fin archivos CSS--><!-- endbuild -->
  <!-- Fin CSS Y SCRIPT compatibilidad IE--><!-- build:js js/main.min.js -->
  <!-- Archivos JS-->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script type="text/javascript" src="bower_components/respond/dest/respond.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="bower_components/tablesorter/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="js/dist/reflection.js"></script>
  <script type="text/javascript" src="js/dist/cloud-carousel.1.0.5.js"></script>
  <script type="text/javascript" src="bower_components/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="js/dist/wefront-script.js"></script>
  <!-- Fin rchivos JS--><!-- endbuild -->
</head>
<body data-ng-app="app" class="tlf-content">
  <header class="tlf-header">
    <div class="tlf-header__top">
      <div class="wrapper">
        <h1 class="u-hideAccessible">Telef&oacute;nica CPW</h1>
        <figure class="tlf-header__cont-img"><img src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica" class="tlf-header__img"></figure>
      </div>
    </div>
    <nav class="tlf-nav">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-8 col-md-9 col-sm-12">
            <ul class="tlf-nav__list">
              <li class="tlf-nav__item tlf-nav__item--icon"><a href="#" title="Home" class="tlf-nav__link tlf-nav__link--icon">Home</a></li>
              <li class="tlf-nav__item dropdown selected"><a href="#" title="Relationship Management" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Relationship Management</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Equipo telefónica" class="tlf-nav__subLink">Equipo telef&oacute;nica</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Agenda" class="tlf-nav__subLink">Agenda</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Comunidad Expertos" class="tlf-nav__subLink">Comunidad Expertos</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown"><a href="#" title="Service Tracking" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Service Tracking</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Reportes" class="tlf-nav__subLink">Reportes</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Monitoreo" class="tlf-nav__subLink">Monitoreo</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Tickets y Pedidos" class="tlf-nav__subLink">Tickets y Pedidos</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Portales" class="tlf-nav__subLink">Portales</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown"><a href="#" title="My Service" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">My Service</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Documentación" class="tlf-nav__subLink">Documentaci&oacute;n</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Market Place" class="tlf-nav__subLink">Market Place</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item"><a href="#" title="Ideas Corner" class="tlf-nav__link"><span class="tlf-nav__text">Ideas Corner</span></a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12">
            <form action="#" method="post" class="tlf-profile__contText">
              <fieldset>
                <legend class="u-hideAccessible">Formulario perfil</legend>
                <label for="name" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
                <select id="name" data-function="data-selectpicker" class="tlf-selectpicker">
                  <option>XXX - El Farolito de Lima</option>
                  <option>Cliente PostVenta</option>
                  <option>Lorem ipsum</option>
                </select>
              </fieldset>
            </form>
            <div class="tlf-contLinks"><a href="#" title="Ayuda" class="tlf-contLinks__text">Ayuda</a><a href="#" title="Salir" class="tlf-contLinks__text">Salir</a></div>
          </div>
        </div>
      </div>
    </nav>
    <nav class="tlf-nav--mobile navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle"><span class="sr-only">Cerrar</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div class="tlf-navbar__container">
          <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle tlf-btn__close"><span class="sr-only">Cerrar</span></button>
          <ul class="tlf-nav__listMb nav navbar-nav">
            <li><a href="#" title="Inicio" class="tlf-nav__linkMb">Inicio</a></li>
            <li class="active"><a href="#" title="Relationship Management" data-toggle="dropdown" class="dropdown-toggle">Relationship Management</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Equipo telefónica">Equipo telef&oacute;nica</a></li>
                <li><a href="#" title="Agenda">Agenda</a></li>
                <li><a href="#" title="Comunidad Expertos">Comunidad Expertos</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" title="Service Tracking" data-toggle="dropdown" class="dropdown-toggle">Service Tracking</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Reportes">Reportes</a></li>
                <li><a href="#" title="Monitoreo">Monitoreo</a></li>
                <li><a href="#" title="Tickets y Pedidos">Tickets y Pedidos</a></li>
                <li><a href="#" title="Portales">Portales</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">My Service</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Documentación">Documentaci&oacute;n</a></li>
                <li><a href="#" title="Market Place">Market Place</a></li>
              </ul>
            </li>
            <li><a href="#" title="Ideas Corner">Ideas Corner</a></li>
          </ul>
          <form action="#" method="post" class="tlf-profile__contText">
            <fieldset>
              <legend class="u-hideAccessible">Formulario perfil</legend>
              <label for="nameMbl" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
              <select id="nameMbl" data-function="data-selectpicker" class="tlf-selectpicker">
                <option>XXX - El Farolito de Lima</option>
                <option>Cliente PostVenta</option>
                <option>Lorem ipsum</option>
              </select>
            </fieldset>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Ayuda</a></li>
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="tlf-container">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <figure class="tlf-container__cont-img"><img src="./assets/img/icons/tlf-equipo_cliente.png" alt="Equipo" class="tlf-container__img"></figure>
          <h2 class="tlf-container__title"><span class="tlf-container__text">Equipo de Telef&oacute;nica</span></h2><a href="#" title="OneDrive" class="tlf-container__sincro">OneDrive</a>
          <section data-function="data-carousel__team" class="tlf-carousel__team">
            <div class="tlf-carousel__team__item"><a href="#" title="Nicolás Howard" class="tlf-carousel__team__linkT">
                <h3 class="tlf-carousel__team__title">Nicol&aacute;s Howard</h3></a>
              <figure class="tlf-carousel__team__cont-img"><img src="./assets/img/contents/nicolas.jpg" alt="Nicolás Howard" class="tlf-carousel__team__img"></figure>
              <div class="tlf-carousel__team--right"><a href="#" title="Enviar Email" class="tlf-carousel__team--email">Enviar Email</a><a href="#" title="Solicitar Cita" class="tlf-carousel__team--task">Solicitar Cita</a></div><a href="#" title="Datos de contacto" class="tlf-carousel__team__link">
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Email:</span> nicolas.howard=telefonica.com@example.com
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Tel&eacute;fono:</span> +54911447785608
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">M&oacute;vil:</span> +34626880393
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Rol:</span> Contacto principal
                </p></a>
            </div>
            <div class="tlf-carousel__team__item"><a href="#" title="Juan Pablo Valerga" class="tlf-carousel__team__linkT">
                <h3 class="tlf-carousel__team__title">Juan Pablo Valerga</h3></a>
              <figure class="tlf-carousel__team__cont-img"><img src="./assets/img/contents/juan.jpg" alt="Juan Pablo Valerga" class="tlf-carousel__team__img"></figure>
              <div class="tlf-carousel__team--right"><a href="#" title="Enviar Email" class="tlf-carousel__team--email">Enviar Email</a><a href="#" title="Solicitar Cita" class="tlf-carousel__team--task">Solicitar Cita</a></div><a href="#" title="Datos de contacto" class="tlf-carousel__team__link">
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Email:</span> juan.valerga@telefonica.com
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Tel&eacute;fono:</span> No disponible
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">M&oacute;vil:</span> +54 911 4421 0553
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Rol:</span> Ingenier&iacute;a de Clientes
                </p></a>
            </div>
            <div class="tlf-carousel__team__item"><a href="#" title="Fernando Andrada" class="tlf-carousel__team__linkT">
                <h3 class="tlf-carousel__team__title">Fernando Andrada</h3></a>
              <figure class="tlf-carousel__team__cont-img"><img src="./assets/img/contents/fernando.jpg" alt="Fernando Andrada" class="tlf-carousel__team__img"></figure>
              <div class="tlf-carousel__team--right"><a href="#" title="Enviar Email" class="tlf-carousel__team--email">Enviar Email</a><a href="#" title="Solicitar Cita" class="tlf-carousel__team--task">Solicitar Cita</a></div><a href="#" title="Datos de contacto" class="tlf-carousel__team__link">
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Email:</span> fernando.andrada@telefonica.com
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Tel&eacute;fono:</span> +541153211969
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">M&oacute;vil:</span> No disponible
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Rol:</span> Atenci&oacute;n al Cliente
                </p></a>
            </div>
            <div class="tlf-carousel__team__item"><a href="#" title="José Ruiz Carrillo" class="tlf-carousel__team__linkT">
                <h3 class="tlf-carousel__team__title">Jos&eacute; Ruiz Carrillo</h3></a>
              <figure class="tlf-carousel__team__cont-img"><img src="./assets/img/contents/noDisponible.png" alt="José Ruiz Carrillo" class="tlf-carousel__team__img"></figure>
              <div class="tlf-carousel__team--right"><a href="#" title="Enviar Email" class="tlf-carousel__team--email">Enviar Email</a><a href="#" title="Solicitar Cita" class="tlf-carousel__team--task">Solicitar Cita</a></div><a href="#" title="Datos de contacto" class="tlf-carousel__team__link">
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Email:</span> jose.ruiz.carrillo@everis.com
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Tel&eacute;fono:</span> No disponible
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">M&oacute;vil:</span> No disponible
                </p>
                <p class="tlf-carousel__team__text"><span class="tlf-carousel__team__text tlf-carousel__team__text--bold">Rol:</span> Ejecutivo de Cobros
                </p></a>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <figure class="tlf-container__cont-img"><img src="./assets/img/icons/tlf-equipo_cliente.png" alt="Equipo" class="tlf-container__img"></figure>
          <h2 class="tlf-container__title"><span class="tlf-container__text">Equipo de Cliente</span></h2><a href="#" title="Solicitud de cambio" class="tlf-btn tlf-btn--center tlf-btn--dark">Solicitud de cambio</a>
        </div>
      </div>
      <table class="tlf-table">
        <caption class="u-hideAccessible">Tabla equipo de cliente</caption>
        <thead class="tlf-table__head">
          <tr class="tlf-table__head__row tlf-table__row--color">
            <th class="tlf-table__head__col tlf-table__head__col--show"><a href="#" title="Nombre completo" class="tlf-table__head__link"><span class="tlf-table__text">Nombre completo</span></a></th>
            <th class="tlf-table__head__col"><a href="#" title="Cargo" class="tlf-table__head__link"><span class="tlf-table__text">Cargo</span></a></th>
            <th class="tlf-table__head__col tlf-table__head__col--show"><a href="#" title="Correo electrónico" class="tlf-table__head__link"><span class="tlf-table__text">Correo electr&oacute;nico</span></a></th>
            <th class="tlf-table__head__col"><a href="#" title="Teléfono de trabajo" class="tlf-table__head__link"><span class="tlf-table__text">Tel&eacute;fono de trabajo</span></a></th>
            <th class="tlf-table__head__col"><a href="#" title="Teléfono móvil" class="tlf-table__head__link"><span class="tlf-table__text">Tel&eacute;fono m&oacute;vil</span></a></th>
            <th class="tlf-table__head__col tlf-table__head__col--showMbl"><span>Datos m&oacute;vil</span></th>
          </tr>
        </thead>
        <tbody class="tlf-table__body">
          <tr data-target="#datos" data-toggle="collapse" class="tlf-table__body__row collapsed">
            <td class="tlf-table__body__col tlf-table__body__col--show"><a title="Pato Connon" class="tlf-table__body__link">Pato Connon</a></td>
            <td class="tlf-table__body__col"></td>
            <td class="tlf-table__body__col tlf-table__body__col--show">pconnon@gmail.com</td>
            <td class="tlf-table__body__col"></td>
            <td class="tlf-table__body__col"></td>
            <td id="datos" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Cargo<span class="tlf-table__showMbl__sbText">Cargo ejemplo</span></span><span class="tlf-table__showMbl__text">Tel&eacute;fono de trabajo<span class="tlf-table__showMbl__sbText">912345678</span></span><span class="tlf-table__showMbl__text">Tel&eacute;fono m&oacute;vil<span class="tlf-table__showMbl__sbText">678901234</span></span></td>
          </tr>
          <tr data-target="#datos1" data-toggle="collapse" class="tlf-table__body__row collapsed">
            <td class="tlf-table__body__col tlf-table__body__col--show"><a href="#" title="Chango Cárdenas" class="tlf-table__body__link">Chango C&aacute;rdenas</a></td>
            <td class="tlf-table__body__col">Goleador</td>
            <td class="tlf-table__body__col tlf-table__body__col--show">nicolas.howard@telefonica.com</td>
            <td class="tlf-table__body__col"></td>
            <td class="tlf-table__body__col"></td>
            <td id="datos1" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Cargo<span class="tlf-table__showMbl__sbText">Cargo ejemplo</span></span><span class="tlf-table__showMbl__text">Tel&eacute;fono de trabajo<span class="tlf-table__showMbl__sbText">912345678</span></span><span class="tlf-table__showMbl__text">Tel&eacute;fono m&oacute;vil<span class="tlf-table__showMbl__sbText">678901234</span></span></td>
          </tr>
          <tr data-target="#datos2" data-toggle="collapse" class="tlf-table__body__row collapsed">
            <td class="tlf-table__body__col tlf-table__body__col--show"><a href="#" title="Muñoz Mateu" class="tlf-table__body__link">Mu&ntilde;oz Mateu</a></td>
            <td class="tlf-table__body__col"></td>
            <td class="tlf-table__body__col tlf-table__body__col--show">josemi.fierro@aborda.es</td>
            <td class="tlf-table__body__col">+51950671360</td>
            <td class="tlf-table__body__col"></td>
            <td id="datos2" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Cargo<span class="tlf-table__showMbl__sbText">Cargo ejemplo</span></span><span class="tlf-table__showMbl__text">Tel&eacute;fono de trabajo<span class="tlf-table__showMbl__sbText">912345678</span></span><span class="tlf-table__showMbl__text">Tel&eacute;fono m&oacute;vil<span class="tlf-table__showMbl__sbText">678901234</span></span></td>
          </tr>
          <tr data-target="#datos3" data-toggle="collapse" class="tlf-table__body__row collapsed">
            <td class="tlf-table__body__col tlf-table__body__col--show"><a href="#" title="XXX XXX" class="tlf-table__body__link">XXX XXX</a></td>
            <td class="tlf-table__body__col"></td>
            <td class="tlf-table__body__col tlf-table__body__col--show">micah.burgos@aborda.es.test</td>
            <td class="tlf-table__body__col">665669663</td>
            <td class="tlf-table__body__col">669665669</td>
            <td id="datos3" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Cargo<span class="tlf-table__showMbl__sbText">Cargo ejemplo</span></span><span class="tlf-table__showMbl__text">Tel&eacute;fono de trabajo<span class="tlf-table__showMbl__sbText">912345678</span></span><span class="tlf-table__showMbl__text">Tel&eacute;fono m&oacute;vil<span class="tlf-table__showMbl__sbText">678901234</span></span></td>
          </tr>
        </tbody>
        <tfoot class="tlf-table__foot">
          <tr>
            <td colspan="6" class="tlf-table__foot__col">
              <form action="#" method="post">
                <fieldset>
                  <legend class="u-hideAccessible">N&uacute;mero de p&aacute;ginas</legend>
                  <select id="pagination" data-function="data-selectpicker" class="tlf-table__select">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                    <option>200</option>
                  </select>
                  <label for="pagination" class="tlf-pagination"><a href="#" title="Página anterior" class="tlf-pagination__link tlf-pagination__link--prev disabled">P&aacute;gina anterior</a><span class="tlf-pagination__text">(1 - 8 de 8)</span><a href="#" title="Página siguiente" class="tlf-pagination__link tlf-pagination__link--next">P&aacute;gina siguiente</a></label>
                </fieldset>
              </form>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </main>
  <footer class="tlf-footer">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="tlf-footer__container">
            <h2 class="tlf-footer__title">&copy;Telef&oacute;nica S.A.</h2><span class="tlf-footer__text">Compartir este sitio en:</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body></html>
