apache-tomcat-9.0.0.M17/webapps/ROOT/src/jade/templates/serviceTracking_ticketsyPedidos.jade
extends ../layouts/layout__primary


block title
	title!='Service Tracking - Tickets y Pedidos - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown.active
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset.form-group
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.tlf-show
			.wrapper
				.row
					.col-lg-12.col-md-12.col-sm-12
						.tlf-cont-title
							figure.tlf-container__cont-img
									img.tlf-container__img(src="./assets/img/icons/tlf-factura_a.png" alt="Factura")
								h2.tlf-container__title
									span.tlf-container__text Tr&aacute;mites
						form.tlf-form(action="#" method="post")
							fieldset.tlf-form__fieldset
								legend.u-hideAccessible Formulario b&uacute;squeda
								label.u-hideAccessible(for="selecciona") Selecciona una de las opciones
								select.tlf-selectpicker(id="selecciona" data-function='data-selectpicker')
									option N&uacute;mero del caso
									option Motivo de contacto
									option Asunto
									option Contacto
									option Estado
									option Origen del caso
									option Prioridad
								label.u-hideAccessible(for="buscar") B&uacute;squeda
								input.tlf-form__search(type="search" id="buscar")
								input.tlf-btn.tlf-btn--big(id="busqueda" type="button" value="Buscar")
				section.tlf-tabs
					.tlf-tabs__block
						ul.tlf-tabs__nav.nav.nav-tabs
							li.tlf-tabs__item.active
								a.tlf-tabs__link(href="#tab1" data-toggle="pill" title="Facturación") Casos
					a.tlf-btn(href="#" title="Nuevo Caso" data-toggle="modal" data-target="#tlf-new" data-function="data-open") Nuevo Caso
					.tab-content.tlf-tabs__content
						#tab1.tab-pane.fade.in.active
							table.tablesorter.tlf-table(data-function="data-table")
								caption.u-hideAccessible Tabla de casos
								thead.tlf-table__head
									tr.tlf-table__head__row.tlf-table__row--color
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Caso principal")
												span.tlf-table__text Caso principal
										th.tlf-table__head__col.tlf-table__head__col--show.tlf-table__head__col--show-second
											a.tlf-table__head__link(href="#" title="Número del caso")
												span.tlf-table__text N&uacute;mero del caso
										th.tlf-table__head__col.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Motivo de contacto")
												span.tlf-table__text Motivo de contacto
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Fecha de Solicitud Cliente")
												span.tlf-table__text Fecha de Solicitud Cliente
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Asunto")
												span.tlf-table__text Asunto
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Contacto")
												span.tlf-table__text Contacto
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Estado")
												span.tlf-table__text Estado
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Origen del caso")
												span.tlf-table__text Origen del caso
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Prioridad")
												span.tlf-table__text Prioridad
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Adjuntos")
												span.tlf-table__text Adjuntos
										th.tlf-table__head__col.tlf-table__head__col--showMbl
											span Datos m&oacute;vil
								tbody.tlf-table__body
									tr.tlf-table__body__row.collapsed(data-target="#datos" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--show-second
											a.tlf-table__body__link(href="#" title="03587452" data-toggle="modal" data-target="#tlf-detail") 03587452
										td.tlf-table__body__col.tlf-table__body__col--show Aprobaci&oacute;n
										td.tlf-table__body__col 22/03/2016 17:50
										td.tlf-table__body__col ZZ PORTAL Prueba
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl Pendiente
										td.tlf-table__body__col.tlf-table__body__col--hideTbl Portal cliente
										td.tlf-table__body__col Media
										td.tlf-table__body__col
											a(href="#" title="adjuntos" data-toggle="modal" data-target="#tlf-adjunt")
												img.tlf-table__img(src="./assets/img/icons/tlf-reports.png" alt="adjuntos")
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos.collapse
											span.tlf-table__showMbl__text Caso principal
											span.tlf-table__showMbl__text Fecha de Solicitud Cliente
												span.tlf-table__showMbl__sbText 16/03/2016 17:50
											span.tlf-table__showMbl__text Asunto
												span.tlf-table__showMbl__sbText XX PORTAL Prueba
											span.tlf-table__showMbl__text Contacto
											span.tlf-table__showMbl__text Estado
												span.tlf-table__showMbl__sbText En curso
											span.tlf-table__showMbl__text Origen del caso
												span.tlf-table__showMbl__sbText Portal cliente
											span.tlf-table__showMbl__text Prioridad
												span.tlf-table__showMbl__sbText Media
											span.tlf-table__showMbl__text Adjuntos
												a(href="#" title="adjuntos" data-toggle="modal" data-target="#tlf-adjunt")
													img.tlf-table__img(src="./assets/img/icons/tlf-reports.png" alt="adjuntos")
									tr.tlf-table__body__row.collapsed(data-target="#datos2" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--show-second
											a.tlf-table__body__link(href="#" title="01586418" data-toggle="modal" data-target="#tlf-detail") 01586418
										td.tlf-table__body__col.tlf-table__body__col--show Consulta
										td.tlf-table__body__col 16/03/2016 17:50
										td.tlf-table__body__col XX PORTAL Prueba
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl En curso
										td.tlf-table__body__col.tlf-table__body__col--hideTbl Portal cliente
										td.tlf-table__body__col Media
										td.tlf-table__body__col
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos2.collapse
											span.tlf-table__showMbl__text Caso principal
											span.tlf-table__showMbl__text Fecha de Solicitud Cliente
												span.tlf-table__showMbl__sbText 16/03/2016 17:50
											span.tlf-table__showMbl__text Asunto
												span.tlf-table__showMbl__sbText XX PORTAL Prueba
											span.tlf-table__showMbl__text Contacto
											span.tlf-table__showMbl__text Estado
												span.tlf-table__showMbl__sbText En curso
											span.tlf-table__showMbl__text Origen del caso
												span.tlf-table__showMbl__sbText Portal cliente
											span.tlf-table__showMbl__text Prioridad
												span.tlf-table__showMbl__sbText Media
											span.tlf-table__showMbl__text Adjuntos
								tfoot.tlf-table__foot
									tr
										td.tlf-table__foot__col(colspan="11")
											form(action="#" method="post")
												fieldset
													legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
													select.tlf-table__select(id="pagination2" data-function='data-selectpicker')
														option 10
														option 25
														option 50
														option 100
														option 200
													label.tlf-pagination(for="pagination2")
														a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
														span.tlf-pagination__text (1 - 8 de 8)
														a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
		//- modal nuevo caso,
		.modal.fade.tlf-new__modal#tlf-new(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post" data-form="newcase")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend NUEVO CASO COMERCIAL
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Estado:
									span.tlf-new__modal__input En Curso
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
									label.tlf-new__modal__label(for="horaInicio") * Motivo de contacto:
									//- El option sin información debera tener un value vacio,para el control de los campos requeridos !Important
									select.tlf-selectpicker.tlf-new__modal__input.tlf-new__modal__select(id="horaInicio" name="horaInicio" data-function='data-selectpicker' data-required="require")
										option(value="") --Ninguno--
										option Inconformidad de Atenci&oacute;n
										option Incorformidad de Facturaci&oacute;n
										option Incorformidad de Provisi&oacute;n
										option Solicitud Administrativa
										option Solicitud comercial
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label(for="asunto") * Asunto
									input.tlf-new__modal__input(type="text" value="" id="asunto" name="asunto" data-required="require")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label(for="descripción") Descripci&oacute;n
									textarea.tlf-new__modal__input.tlf-new__modal__input--tall(id="descripción" name="descripción")
								.tlf-contBtn
									input.tlf-btn(type="submit" value="Guardar" data-require-btn="btn")
									input.tlf-btn(type="submit" value="Guardar y adjuntar" data-require-btn="btn")
									input.tlf-btn(type="button" value="Cancelar" aria-label="close" data-dismiss="modal")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--last
									span.tlf-new__modal__label * Informaci&oacute;n Obligatoria
		//- end modal nuevo caso
		//- modal detalle
		.modal.fade.tlf-new__modal#tlf-detail(data-function="modal-focus")
			.modal-dialog
				//- modal añadir comentario
				.modal.fade.tlf-new__modal#tlf-comment
					.modal-dialog
						.modal-content.tlf-new__modal__content
							button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
							.modal-body.tlf-new__modal__body
								form.tlf-new__modal__form(action="#" method="post")
									fieldset.tlf-new__modal__fieldset
										legend.tlf-new__modal__form__legend A&ntilde;adir comentario
										.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
											label.tlf-new__modal__label.u-hideAccessible(for="descripción2") Descripci&oacute;n
											textarea.tlf-new__modal__input.tlf-new__modal__input--taller(id="descripción2" name="descripción2")
										.tlf-contBtn
											input.tlf-btn(type="submit" value="Guardar")
											input.tlf-btn(type="button" value="Cancelar" aria-label="close" data-dismiss="modal")
				//- end modal añadir comentario
				//- modal adjuntar archivo
				.modal.fade.tlf-new__modal#tlf-atachment(data-function="modal-focus")
					.modal-dialog
						.modal-content.tlf-new__modal__content
							button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
							.modal-body.tlf-new__modal__body
								form.tlf-new__modal__form(action="#" method="post")
									fieldset.tlf-new__modal__fieldset
										legend.tlf-new__modal__form__legend Adjuntar un archivo al caso 01586418
										.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
											label.tlf-new__modal__label(for="archivo") 1. Seleccione el archivo
											span.tlf-new__modal__input.tlf-new__modal__input--simple Haga clic en el bot&oacute;n Examinar para buscar el archivo
											input.tlf-new__modal__input.tlf-new__modal__input--simple(type="file" id="archivo")
										.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
											span.tlf-new__modal__label 2. Haga clic en el bot&oacute;n Adjuntar archivo
											span.tlf-new__modal__input.tlf-new__modal__input--simple Para adjuntar varios archivos, repita los pasos 1 y 2
										.tlf-contBtn
											input.tlf-btn(type="submit" value="Adjuntar archivo")
											input.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
				//- end modal adjuntar archivo
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend Detalle del tr&aacute;mite
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label N&uacute;mero del caso:
									span.tlf-new__modal__input 03327467
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Motivo de contacto:
									span.tlf-new__modal__input Inconformidad de Atenci&oacute;n
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Estado:
									span.tlf-new__modal__input En curso
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Prioridad:
									span.tlf-new__modal__input Media
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									span.tlf-new__modal__label Descripci&oacute;n
									span.tlf-new__modal__input.tlf-new__modal__input--simple N/A
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									span.tlf-new__modal__label Resoluci&oacute;n
									span.tlf-new__modal__input.tlf-new__modal__input--simple N/A
								.tlf-contBtn
									input.tlf-btn(type="button" value="Añadir comentario" data-toggle="modal" data-target="#tlf-comment")
									input.tlf-btn(type="button" value="Adjuntar archivo" data-toggle="modal" data-target="#tlf-atachment")
									input.tlf-hideDesktop.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
				//- end modal detalle
		//- modal adjuntos
		.modal.fade.tlf-new__modal#tlf-adjunt(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend Adjuntos
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Creado por:
									span.tlf-new__modal__input XX Contacto
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Fecha de creaci&oacute;n
									span.tlf-new__modal__input 17/02/2017 13:02:09
								.tlf-new__modal__controlGroup
									a(href="#" title="nombreArchivo") archivo.json
								.tlf-contBtn.tlf-hideDesktop
									input.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
		//- end modal adjuntos
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:

apache-tomcat-9.0.0.M17/webapps/ROOT/src/serviceTracking_ticketsyPedidos.html
<!DOCTYPE html><!--[if gte IE 9]><html lang="es" dir="ltr" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="es" dir="ltr"><!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Service Tracking - Tickets y Pedidos - Telefonica CWP</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- build:css css/style.min.css -->
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/salesforce-lightning-design-system.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/dFront.css"/>
  <!-- Fin archivos CSS--><!-- endbuild -->
  <!-- Fin CSS Y SCRIPT compatibilidad IE--><!-- build:js js/main.min.js -->
  <!-- Archivos JS-->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script type="text/javascript" src="bower_components/respond/dest/respond.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="bower_components/tablesorter/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="js/dist/reflection.js"></script>
  <script type="text/javascript" src="js/dist/cloud-carousel.1.0.5.js"></script>
  <script type="text/javascript" src="bower_components/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="js/dist/wefront-script.js"></script>
  <!-- Fin rchivos JS--><!-- endbuild -->
</head>
<body data-ng-app="app" class="tlf-content">
  <header class="tlf-header">
    <div class="tlf-header__top">
      <div class="wrapper">
        <h1 class="u-hideAccessible">Telef&oacute;nica CPW</h1>
        <figure class="tlf-header__cont-img"><img src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica" class="tlf-header__img"></figure>
      </div>
    </div>
    <nav class="tlf-nav">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-8 col-md-9 col-sm-12">
            <ul class="tlf-nav__list">
              <li class="tlf-nav__item tlf-nav__item--icon"><a href="#" title="Home" class="tlf-nav__link tlf-nav__link--icon">Home</a></li>
              <li class="tlf-nav__item dropdown"><a href="#" title="Relationship Management" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Relationship Management</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Equipo telefónica" class="tlf-nav__subLink">Equipo telef&oacute;nica</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Agenda" class="tlf-nav__subLink">Agenda</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Comunidad Expertos" class="tlf-nav__subLink">Comunidad Expertos</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown selected"><a href="#" title="Service Tracking" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Service Tracking</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Reportes" class="tlf-nav__subLink">Reportes</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Monitoreo" class="tlf-nav__subLink">Monitoreo</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Tickets y Pedidos" class="tlf-nav__subLink">Tickets y Pedidos</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Portales" class="tlf-nav__subLink">Portales</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown"><a href="#" title="My Service" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">My Service</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Documentación" class="tlf-nav__subLink">Documentaci&oacute;n</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Market Place" class="tlf-nav__subLink">Market Place</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item"><a href="#" title="Ideas Corner" class="tlf-nav__link"><span class="tlf-nav__text">Ideas Corner</span></a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12">
            <form action="#" method="post" class="tlf-profile__contText">
              <fieldset>
                <legend class="u-hideAccessible">Formulario perfil</legend>
                <label for="name" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
                <select id="name" data-function="data-selectpicker" class="tlf-selectpicker">
                  <option>XXX - El Farolito de Lima</option>
                  <option>Cliente PostVenta</option>
                  <option>Lorem ipsum</option>
                </select>
              </fieldset>
            </form>
            <div class="tlf-contLinks"><a href="#" title="Ayuda" class="tlf-contLinks__text">Ayuda</a><a href="#" title="Salir" class="tlf-contLinks__text">Salir</a></div>
          </div>
        </div>
      </div>
    </nav>
    <nav class="tlf-nav--mobile navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle"><span class="sr-only">Cerrar</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div class="tlf-navbar__container">
          <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle tlf-btn__close"><span class="sr-only">Cerrar</span></button>
          <ul class="tlf-nav__listMb nav navbar-nav">
            <li><a href="#" title="Inicio" class="tlf-nav__linkMb">Inicio</a></li>
            <li><a href="#" title="Relationship Management" data-toggle="dropdown" class="dropdown-toggle">Relationship Management</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Equipo telefónica">Equipo telef&oacute;nica</a></li>
                <li><a href="#" title="Agenda">Agenda</a></li>
                <li><a href="#" title="Comunidad Expertos">Comunidad Expertos</a></li>
              </ul>
            </li>
            <li class="dropdown active"><a href="#" title="Service Tracking" data-toggle="dropdown" class="dropdown-toggle">Service Tracking</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Reportes">Reportes</a></li>
                <li><a href="#" title="Monitoreo">Monitoreo</a></li>
                <li><a href="#" title="Tickets y Pedidos">Tickets y Pedidos</a></li>
                <li><a href="#" title="Portales">Portales</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">My Service</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Documentación">Documentaci&oacute;n</a></li>
                <li><a href="#" title="Market Place">Market Place</a></li>
              </ul>
            </li>
            <li><a href="#" title="Ideas Corner">Ideas Corner</a></li>
          </ul>
          <form action="#" method="post" class="tlf-profile__contText">
            <fieldset class="form-group">
              <legend class="u-hideAccessible">Formulario perfil</legend>
              <label for="nameMbl" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
              <select id="nameMbl" data-function="data-selectpicker" class="tlf-selectpicker">
                <option>XXX - El Farolito de Lima</option>
                <option>Cliente PostVenta</option>
                <option>Lorem ipsum</option>
              </select>
            </fieldset>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Ayuda</a></li>
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="tlf-container">
    <div class="tlf-show">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="tlf-cont-title">
              <figure class="tlf-container__cont-img"><img src="./assets/img/icons/tlf-factura_a.png" alt="Factura" class="tlf-container__img"></figure>
              <h2 class="tlf-container__title"><span class="tlf-container__text">Tr&aacute;mites</span></h2>
            </div>
            <form action="#" method="post" class="tlf-form">
              <fieldset class="tlf-form__fieldset">
                <legend class="u-hideAccessible">Formulario b&uacute;squeda</legend>
                <label for="selecciona" class="u-hideAccessible">Selecciona una de las opciones</label>
                <select id="selecciona" data-function="data-selectpicker" class="tlf-selectpicker">
                  <option>N&uacute;mero del caso</option>
                  <option>Motivo de contacto</option>
                  <option>Asunto</option>
                  <option>Contacto</option>
                  <option>Estado</option>
                  <option>Origen del caso</option>
                  <option>Prioridad</option>
                </select>
                <label for="buscar" class="u-hideAccessible">B&uacute;squeda</label>
                <input type="search" id="buscar" class="tlf-form__search">
                <input id="busqueda" type="button" value="Buscar" class="tlf-btn tlf-btn--big">
              </fieldset>
            </form>
          </div>
        </div>
        <section class="tlf-tabs">
          <div class="tlf-tabs__block">
            <ul class="tlf-tabs__nav nav nav-tabs">
              <li class="tlf-tabs__item active"><a href="#tab1" data-toggle="pill" title="Facturación" class="tlf-tabs__link">Casos</a></li>
            </ul>
          </div><a href="#" title="Nuevo Caso" data-toggle="modal" data-target="#tlf-new" data-function="data-open" class="tlf-btn">Nuevo Caso</a>
          <div class="tab-content tlf-tabs__content">
            <div id="tab1" class="tab-pane fade in active">
              <table data-function="data-table" class="tablesorter tlf-table">
                <caption class="u-hideAccessible">Tabla de casos</caption>
                <thead class="tlf-table__head">
                  <tr class="tlf-table__head__row tlf-table__row--color">
                    <th class="tlf-table__head__col tlf-table__head__col--hideTbl"><a href="#" title="Caso principal" class="tlf-table__head__link"><span class="tlf-table__text">Caso principal</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--show tlf-table__head__col--show-second"><a href="#" title="Número del caso" class="tlf-table__head__link"><span class="tlf-table__text">N&uacute;mero del caso</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--show"><a href="#" title="Motivo de contacto" class="tlf-table__head__link"><span class="tlf-table__text">Motivo de contacto</span></a></th>
                    <th class="tlf-table__head__col"><a href="#" title="Fecha de Solicitud Cliente" class="tlf-table__head__link"><span class="tlf-table__text">Fecha de Solicitud Cliente</span></a></th>
                    <th class="tlf-table__head__col"><a href="#" title="Asunto" class="tlf-table__head__link"><span class="tlf-table__text">Asunto</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--hideTbl"><a href="#" title="Contacto" class="tlf-table__head__link"><span class="tlf-table__text">Contacto</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--hideTbl"><a href="#" title="Estado" class="tlf-table__head__link"><span class="tlf-table__text">Estado</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--hideTbl"><a href="#" title="Origen del caso" class="tlf-table__head__link"><span class="tlf-table__text">Origen del caso</span></a></th>
                    <th class="tlf-table__head__col"><a href="#" title="Prioridad" class="tlf-table__head__link"><span class="tlf-table__text">Prioridad</span></a></th>
                    <th class="tlf-table__head__col"><a href="#" title="Adjuntos" class="tlf-table__head__link"><span class="tlf-table__text">Adjuntos</span></a></th>
                    <th class="tlf-table__head__col tlf-table__head__col--showMbl"><span>Datos m&oacute;vil</span></th>
                  </tr>
                </thead>
                <tbody class="tlf-table__body">
                  <tr data-target="#datos" data-toggle="collapse" class="tlf-table__body__row collapsed">
                    <td class="tlf-table__body__col tlf-table__body__col--hideTbl"></td>
                    <td class="tlf-table__body__col tlf-table__body__col--show tlf-table__body__col--show-second"><a href="#" title="03587452" data-toggle="modal" data-target="#tlf-detail" class="tlf-table__body__link">03587452</a></td>
                    <td class="tlf-table__body__col tlf-table__body__col--show">Aprobaci&oacute;n</td>
                    <td class="tlf-table__body__col">22/03/2016 17:50</td>
                    <td class="tlf-table__body__col">ZZ PORTAL Prueba</td>
                    <td class="tlf-table__body__col tlf-table__body__col--hideTbl"></td>
                    <td class="tlf-table__body__col tlf-table__body__col--hideTbl">Pendiente</td>
                    <td class="tlf-table__body__col tlf-table__body__col--hideTbl">Portal cliente</td>
                    <td class="tlf-table__body__col">Media</td>
                    <td class="tlf-table__body__col"><a href="#" title="adjuntos" data-toggle="modal" data-target="#tlf-adjunt"><img src="./assets/img/icons/tlf-reports.png" alt="adjuntos" class="tlf-table__img"></a></td>
                    <td id="datos" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Caso principal</span><span class="tlf-table__showMbl__text">Fecha de Solicitud Cliente<span class="tlf-table__showMbl__sbText">16/03/2016 17:50</span></span><span class="tlf-table__showMbl__text">Asunto<span class="tlf-table__showMbl__sbText">XX PORTAL Prueba</span></span><span class="tlf-table__showMbl__text">Contacto</span><span class="tlf-table__showMbl__text">Estado<span class="tlf-table__showMbl__sbText">En curso</span></span><span class="tlf-table__showMbl__text">Origen del caso<span class="tlf-table__showMbl__sbText">Portal cliente</span></span><span class="tlf-table__showMbl__text">Prioridad<span class="tlf-table__showMbl__sbText">Media</span></span><span class="tlf-table__showMbl__text">Adjuntos<a href="#" title="adjuntos" data-toggle="modal" data-target="#tlf-adjunt"><img src="./assets/img/icons/tlf-reports.png" alt="adjuntos" class="tlf-table__img"></a></span></td>
                  </tr>
                  <tr data-target="#datos2" data-toggle="collapse" class="tlf-table__body__row collapsed">
                    <td class="tlf-table__body__col tlf-table__body__col--hideTbl"></td>
                    <td class="tlf-table__body__col tlf-table__body__col--show tlf-table__body__col--show-second"><a href="#" title="01586418" data-toggle="modal" data-target="#tlf-detail" class="tlf-table__body__link">01586418</a></td>
                    <td class="tlf-table__body__col tlf-table__body__col--show">Consulta</td>
                    <td class="tlf-table__body__col">16/03/2016 17:50</td>
                    <td class="tlf-table__body__col">XX PORTAL Prueba</td>
                    <td class="tlf-table__body__col tlf-table__body__col--hideTbl"></td>
                    <td class="tlf-table__body__col tlf-table__body__col--hideTbl">En curso</td>
                    <td class="tlf-table__body__col tlf-table__body__col--hideTbl">Portal cliente</td>
                    <td class="tlf-table__body__col">Media</td>
                    <td class="tlf-table__body__col"></td>
                    <td id="datos2" class="tlf-table__body__col tlf-table__body__col--showMbl collapse"><span class="tlf-table__showMbl__text">Caso principal</span><span class="tlf-table__showMbl__text">Fecha de Solicitud Cliente<span class="tlf-table__showMbl__sbText">16/03/2016 17:50</span></span><span class="tlf-table__showMbl__text">Asunto<span class="tlf-table__showMbl__sbText">XX PORTAL Prueba</span></span><span class="tlf-table__showMbl__text">Contacto</span><span class="tlf-table__showMbl__text">Estado<span class="tlf-table__showMbl__sbText">En curso</span></span><span class="tlf-table__showMbl__text">Origen del caso<span class="tlf-table__showMbl__sbText">Portal cliente</span></span><span class="tlf-table__showMbl__text">Prioridad<span class="tlf-table__showMbl__sbText">Media</span></span><span class="tlf-table__showMbl__text">Adjuntos</span></td>
                  </tr>
                </tbody>
                <tfoot class="tlf-table__foot">
                  <tr>
                    <td colspan="11" class="tlf-table__foot__col">
                      <form action="#" method="post">
                        <fieldset>
                          <legend class="u-hideAccessible">N&uacute;mero de p&aacute;ginas</legend>
                          <select id="pagination2" data-function="data-selectpicker" class="tlf-table__select">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                          </select>
                          <label for="pagination2" class="tlf-pagination"><a href="#" title="Página anterior" class="tlf-pagination__link tlf-pagination__link--prev disabled">P&aacute;gina anterior</a><span class="tlf-pagination__text">(1 - 8 de 8)</span><a href="#" title="Página siguiente" class="tlf-pagination__link tlf-pagination__link--next">P&aacute;gina siguiente</a></label>
                        </fieldset>
                      </form>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div id="tlf-new" data-function="modal-focus" class="modal fade tlf-new__modal">
      <div class="modal-dialog">
        <div class="modal-content tlf-new__modal__content">
          <button type="button" data-dismiss="modal" aria-label="Close" data-function="focus" class="tlf-new__modal__close"></button>
          <div class="modal-body tlf-new__modal__body">
            <form action="#" method="post" data-form="newcase" class="tlf-new__modal__form">
              <fieldset class="tlf-new__modal__fieldset">
                <legend class="tlf-new__modal__form__legend">NUEVO CASO COMERCIAL</legend>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Estado:</span><span class="tlf-new__modal__input">En Curso</span></div>
                <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--mbl">
                  <label for="horaInicio" class="tlf-new__modal__label">* Motivo de contacto:</label>
                  <select id="horaInicio" name="horaInicio" data-function="data-selectpicker" data-required="require" class="tlf-selectpicker tlf-new__modal__input tlf-new__modal__select">
                    <option value="">--Ninguno--</option>
                    <option>Inconformidad de Atenci&oacute;n</option>
                    <option>Incorformidad de Facturaci&oacute;n</option>
                    <option>Incorformidad de Provisi&oacute;n</option>
                    <option>Solicitud Administrativa</option>
                    <option>Solicitud comercial</option>
                  </select>
                </div>
                <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big">
                  <label for="asunto" class="tlf-new__modal__label">* Asunto</label>
                  <input type="text" value="" id="asunto" name="asunto" data-required="require" class="tlf-new__modal__input">
                </div>
                <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big">
                  <label for="descripción" class="tlf-new__modal__label">Descripci&oacute;n</label>
                  <textarea id="descripción" name="descripción" class="tlf-new__modal__input tlf-new__modal__input--tall"></textarea>
                </div>
                <div class="tlf-contBtn">
                  <input type="submit" value="Guardar" data-require-btn="btn" class="tlf-btn">
                  <input type="submit" value="Guardar y adjuntar" data-require-btn="btn" class="tlf-btn">
                  <input type="button" value="Cancelar" aria-label="close" data-dismiss="modal" class="tlf-btn">
                </div>
                <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--last"><span class="tlf-new__modal__label">* Informaci&oacute;n Obligatoria</span></div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="tlf-detail" data-function="modal-focus" class="modal fade tlf-new__modal">
      <div class="modal-dialog">
        <div id="tlf-comment" class="modal fade tlf-new__modal">
          <div class="modal-dialog">
            <div class="modal-content tlf-new__modal__content">
              <button type="button" data-dismiss="modal" aria-label="Close" data-function="focus" class="tlf-new__modal__close"></button>
              <div class="modal-body tlf-new__modal__body">
                <form action="#" method="post" class="tlf-new__modal__form">
                  <fieldset class="tlf-new__modal__fieldset">
                    <legend class="tlf-new__modal__form__legend">A&ntilde;adir comentario</legend>
                    <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big">
                      <label for="descripción2" class="tlf-new__modal__label u-hideAccessible">Descripci&oacute;n</label>
                      <textarea id="descripción2" name="descripción2" class="tlf-new__modal__input tlf-new__modal__input--taller"></textarea>
                    </div>
                    <div class="tlf-contBtn">
                      <input type="submit" value="Guardar" class="tlf-btn">
                      <input type="button" value="Cancelar" aria-label="close" data-dismiss="modal" class="tlf-btn">
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id="tlf-atachment" data-function="modal-focus" class="modal fade tlf-new__modal">
          <div class="modal-dialog">
            <div class="modal-content tlf-new__modal__content">
              <button type="button" data-dismiss="modal" aria-label="Close" data-function="focus" class="tlf-new__modal__close"></button>
              <div class="modal-body tlf-new__modal__body">
                <form action="#" method="post" class="tlf-new__modal__form">
                  <fieldset class="tlf-new__modal__fieldset">
                    <legend class="tlf-new__modal__form__legend">Adjuntar un archivo al caso 01586418</legend>
                    <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big">
                      <label for="archivo" class="tlf-new__modal__label">1. Seleccione el archivo</label><span class="tlf-new__modal__input tlf-new__modal__input--simple">Haga clic en el bot&oacute;n Examinar para buscar el archivo</span>
                      <input type="file" id="archivo" class="tlf-new__modal__input tlf-new__modal__input--simple">
                    </div>
                    <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big"><span class="tlf-new__modal__label">2. Haga clic en el bot&oacute;n Adjuntar archivo</span><span class="tlf-new__modal__input tlf-new__modal__input--simple">Para adjuntar varios archivos, repita los pasos 1 y 2</span></div>
                    <div class="tlf-contBtn">
                      <input type="submit" value="Adjuntar archivo" class="tlf-btn">
                      <input type="button" value="Cerrar" aria-label="close" data-dismiss="modal" class="tlf-btn">
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-content tlf-new__modal__content">
          <button type="button" data-dismiss="modal" aria-label="Close" data-function="focus" class="tlf-new__modal__close"></button>
          <div class="modal-body tlf-new__modal__body">
            <form action="#" method="post" class="tlf-new__modal__form">
              <fieldset class="tlf-new__modal__fieldset">
                <legend class="tlf-new__modal__form__legend">Detalle del tr&aacute;mite</legend>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">N&uacute;mero del caso:</span><span class="tlf-new__modal__input">03327467</span></div>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Motivo de contacto:</span><span class="tlf-new__modal__input">Inconformidad de Atenci&oacute;n</span></div>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Estado:</span><span class="tlf-new__modal__input">En curso</span></div>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Prioridad:</span><span class="tlf-new__modal__input">Media</span></div>
                <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big"><span class="tlf-new__modal__label">Descripci&oacute;n</span><span class="tlf-new__modal__input tlf-new__modal__input--simple">N/A</span></div>
                <div class="tlf-new__modal__controlGroup tlf-new__modal__controlGroup--big"><span class="tlf-new__modal__label">Resoluci&oacute;n</span><span class="tlf-new__modal__input tlf-new__modal__input--simple">N/A</span></div>
                <div class="tlf-contBtn">
                  <input type="button" value="Añadir comentario" data-toggle="modal" data-target="#tlf-comment" class="tlf-btn">
                  <input type="button" value="Adjuntar archivo" data-toggle="modal" data-target="#tlf-atachment" class="tlf-btn">
                  <input type="button" value="Cerrar" aria-label="close" data-dismiss="modal" class="tlf-hideDesktop tlf-btn">
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="tlf-adjunt" data-function="modal-focus" class="modal fade tlf-new__modal">
      <div class="modal-dialog">
        <div class="modal-content tlf-new__modal__content">
          <button type="button" data-dismiss="modal" aria-label="Close" data-function="focus" class="tlf-new__modal__close"></button>
          <div class="modal-body tlf-new__modal__body">
            <form action="#" method="post" class="tlf-new__modal__form">
              <fieldset class="tlf-new__modal__fieldset">
                <legend class="tlf-new__modal__form__legend">Adjuntos</legend>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Creado por:</span><span class="tlf-new__modal__input">XX Contacto</span></div>
                <div class="tlf-new__modal__controlGroup"><span class="tlf-new__modal__label">Fecha de creaci&oacute;n</span><span class="tlf-new__modal__input">17/02/2017 13:02:09</span></div>
                <div class="tlf-new__modal__controlGroup"><a href="#" title="nombreArchivo">archivo.json</a></div>
                <div class="tlf-contBtn tlf-hideDesktop">
                  <input type="button" value="Cerrar" aria-label="close" data-dismiss="modal" class="tlf-btn">
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="tlf-footer">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="tlf-footer__container">
            <h2 class="tlf-footer__title">&copy;Telef&oacute;nica S.A.</h2><span class="tlf-footer__text">Compartir este sitio en:</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body></html>
