apache-tomcat-9.0.0.M17/webapps/ROOT/src/serviceTracking.html
<!DOCTYPE html><!--[if gte IE 9]><html lang="es" dir="ltr" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="es" dir="ltr"><!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Servi Tracking - Telefonica CWP</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- build:css css/style.min.css -->
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/salesforce-lightning-design-system.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/dFront.css"/>
  <!-- Fin archivos CSS--><!-- endbuild -->
  <!-- Fin CSS Y SCRIPT compatibilidad IE--><!-- build:js js/main.min.js -->
  <!-- Archivos JS-->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script type="text/javascript" src="bower_components/respond/dest/respond.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="bower_components/tablesorter/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="js/dist/reflection.js"></script>
  <script type="text/javascript" src="js/dist/cloud-carousel.1.0.5.js"></script>
  <script type="text/javascript" src="bower_components/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="js/dist/wefront-script.js"></script>
  <!-- Fin rchivos JS--><!-- endbuild -->
</head>
<body data-ng-app="app" class="tlf-content">
  <header class="tlf-header">
    <div class="tlf-header__top">
      <div class="wrapper">
        <h1 class="u-hideAccessible">Telef&oacute;nica CPW</h1>
        <figure class="tlf-header__cont-img"><img src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica" class="tlf-header__img"></figure>
      </div>
    </div>
    <nav class="tlf-nav">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-8 col-md-9 col-sm-12">
            <ul class="tlf-nav__list">
              <li class="tlf-nav__item tlf-nav__item--icon"><a href="#" title="Home" class="tlf-nav__link tlf-nav__link--icon">Home</a></li>
              <li class="tlf-nav__item dropdown"><a href="#" title="Relationship Management" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Relationship Management</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Equipo telefónica" class="tlf-nav__subLink">Equipo telef&oacute;nica</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Agenda" class="tlf-nav__subLink">Agenda</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Comunidad Expertos" class="tlf-nav__subLink">Comunidad Expertos</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown selected"><a href="#" title="Service Tracking" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">Service Tracking</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Reportes" class="tlf-nav__subLink">Reportes</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Monitoreo" class="tlf-nav__subLink">Monitoreo</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Tickets y Pedidos" class="tlf-nav__subLink">Tickets y Pedidos</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Portales" class="tlf-nav__subLink">Portales</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item dropdown"><a href="#" title="My Service" data-toggle="dropdown" class="tlf-nav__link dropdown-toggle"><span class="tlf-nav__text">My Service</span></a>
                <ul class="tlf-nav__subList dropdown-menu">
                  <li class="tlf-nav__subItem"><a href="#" title="Documentación" class="tlf-nav__subLink">Documentaci&oacute;n</a></li>
                  <li class="tlf-nav__subItem"><a href="#" title="Market Place" class="tlf-nav__subLink">Market Place</a></li>
                </ul>
              </li>
              <li class="tlf-nav__item"><a href="#" title="Ideas Corner" class="tlf-nav__link"><span class="tlf-nav__text">Ideas Corner</span></a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12">
            <form action="#" method="post" class="tlf-profile__contText">
              <fieldset>
                <legend class="u-hideAccessible">Formulario perfil</legend>
                <label for="name" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
                <select id="name" data-function="data-selectpicker" class="tlf-selectpicker">
                  <option>XXX - El Farolito de Lima</option>
                  <option>Cliente PostVenta</option>
                  <option>Lorem ipsum</option>
                </select>
              </fieldset>
            </form>
            <div class="tlf-contLinks"><a href="#" title="Ayuda" class="tlf-contLinks__text">Ayuda</a><a href="#" title="Salir" class="tlf-contLinks__text">Salir</a></div>
          </div>
        </div>
      </div>
    </nav>
    <nav class="tlf-nav--mobile navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle"><span class="sr-only">Cerrar</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div class="tlf-navbar__container">
          <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle tlf-btn__close"><span class="sr-only">Cerrar</span></button>
          <ul class="tlf-nav__listMb nav navbar-nav">
            <li><a href="#" title="Inicio" class="tlf-nav__linkMb">Inicio</a></li>
            <li><a href="#" title="Relationship Management" data-toggle="dropdown" class="dropdown-toggle">Relationship Management</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Equipo telefónica">Equipo telef&oacute;nica</a></li>
                <li><a href="#" title="Agenda">Agenda</a></li>
                <li><a href="#" title="Comunidad Expertos">Comunidad Expertos</a></li>
              </ul>
            </li>
            <li class="dropdown active"><a href="#" title="Service Tracking" data-toggle="dropdown" class="dropdown-toggle">Service Tracking</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Reportes">Reportes</a></li>
                <li><a href="#" title="Monitoreo">Monitoreo</a></li>
                <li><a href="#" title="Tickets y Pedidos">Tickets y Pedidos</a></li>
                <li><a href="#" title="Portales">Portales</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">My Service</a>
              <ul class="dropdown-menu">
                <li><a href="#" title="Documentación">Documentaci&oacute;n</a></li>
                <li><a href="#" title="Market Place">Market Place</a></li>
              </ul>
            </li>
            <li><a href="#" title="Ideas Corner">Ideas Corner</a></li>
          </ul>
          <form action="#" method="post" class="tlf-profile__contText">
            <fieldset>
              <legend class="u-hideAccessible">Formulario perfil</legend>
              <label for="nameMbl" class="tlf-profile__text"><a href="#" title="perfil" class="tlf-profile--blue">XX Contacto</a></label>
              <select id="nameMbl" data-function="data-selectpicker" class="tlf-selectpicker">
                <option>XXX - El Farolito de Lima</option>
                <option>Cliente PostVenta</option>
                <option>Lorem ipsum</option>
              </select>
            </fieldset>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Ayuda</a></li>
            <li class="tlf-navbar__item"><a href="#" title="Enlace 3" class="tlf-contLinks__text">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="tlf-container">
    <div class="wrapper">
      <section class="tlf-slide">
        <h2 class="tlf-slide__title">Service Tracking</h2>
        <p class="tlf-slide__description">La m&aacute;s completa informaci&oacute;n on line. Que le permitir&aacute; conocer el funcionamiento de su red, interactuar comodamente con nuestro help desk, y medir la performance de nuestros servicios.</p>
        <ul class="tlf-slide__list">
          <li class="tlf-slide__item">
            <figure class="tlf-slide__cont-img"><img src="./assets/img/icons/tlf-reports.png" alt="Reportes" class="tlf-slide__img"></figure>
            <h3 class="tlf-slide__text">Reportes</h3>
          </li>
          <li class="tlf-slide__item">
            <figure class="tlf-slide__cont-img"><img src="./assets/img/icons/tlf-monitoreo.png" alt="Monitoreo" class="tlf-slide__img"></figure>
            <h3 class="tlf-slide__text">Monitoreo</h3>
          </li>
          <li class="tlf-slide__item">
            <figure class="tlf-slide__cont-img"><img src="./assets/img/icons/tlf-pedidos.png" alt="Trámites" class="tlf-slide__img"></figure>
            <h3 class="tlf-slide__text">Tr&aacute;mites</h3>
          </li>
          <li class="tlf-slide__item">
            <figure class="tlf-slide__cont-img"><img src="./assets/img/icons/tlf-nuevo.png" alt="Portales" class="tlf-slide__img"></figure>
            <h3 class="tlf-slide__text">Portales</h3>
          </li>
        </ul>
      </section>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <nav class="tlf-navigation">
          <ul class="tlf-navigation__list">
            <li class="tlf-navigation__item"><a href="#" title="Reportes" class="tlf-navigation__link">
                <figure class="tlf-navigation__cont-img"><img src="./assets/img/icons/tlf-reports.png" alt="" class="tlf-navigation__img"></figure>Reportes<span class="tlf-navigation__text">Consulte y gestione sus reportes de servicio</span></a></li>
            <li class="tlf-navigation__item"><a href="#" title="Monitoreo" class="tlf-navigation__link">
                <figure class="tlf-navigation__cont-img"><img src="./assets/img/icons/tlf-monitoreo.png" alt="" class="tlf-navigation__img"></figure>Monitoreo<span class="tlf-navigation__text">Vea el estado de sus redes en tiempo real</span></a></li>
            <li class="tlf-navigation__item"><a href="#" title="Trámites" class="tlf-navigation__link">
                <figure class="tlf-navigation__cont-img"><img src="./assets/img/icons/tlf-pedidos.png" alt="" class="tlf-navigation__img"></figure>Tr&aacute;mites<span class="tlf-navigation__text">Controle el estado de sus pedidos y gestione reclamos</span></a></li>
            <li class="tlf-navigation__item"><a href="#" title="Portales" class="tlf-navigation__link">
                <figure class="tlf-navigation__cont-img"><img src="./assets/img/icons/tlf-nuevo.png" alt="" class="tlf-navigation__img"></figure>Portales<span class="tlf-navigation__text">Conjunto de portales externos para cada pa&iacute;s</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </main>
  <footer class="tlf-footer">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="tlf-footer__container">
            <h2 class="tlf-footer__title">&copy;Telef&oacute;nica S.A.</h2><span class="tlf-footer__text">Compartir este sitio en:</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body></html>

apache-tomcat-9.0.0.M17/webapps/ROOT/src/jade/templates/serviceTracking.jade
extends ../layouts/layout__primary


block title
	title!='Servi Tracking - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown.active
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.wrapper
			section.tlf-slide
				h2.tlf-slide__title Service Tracking
				p.tlf-slide__description La m&aacute;s completa informaci&oacute;n on line. Que le permitir&aacute; conocer el funcionamiento de su red, interactuar comodamente con nuestro help desk, y medir la performance de nuestros servicios.
				ul.tlf-slide__list
					li.tlf-slide__item
						figure.tlf-slide__cont-img
							img.tlf-slide__img(src="./assets/img/icons/tlf-reports.png" alt="Reportes")
						h3.tlf-slide__text Reportes
					li.tlf-slide__item
						figure.tlf-slide__cont-img
							img.tlf-slide__img(src="./assets/img/icons/tlf-monitoreo.png" alt="Monitoreo")
						h3.tlf-slide__text Monitoreo
					li.tlf-slide__item
						figure.tlf-slide__cont-img
							img.tlf-slide__img(src="./assets/img/icons/tlf-pedidos.png" alt="Trámites")
						h3.tlf-slide__text Tr&aacute;mites
					li.tlf-slide__item
						figure.tlf-slide__cont-img
							img.tlf-slide__img(src="./assets/img/icons/tlf-nuevo.png" alt="Portales")
						h3.tlf-slide__text Portales
		.row
			.col-lg-12.col-md-12.col-sm-12
				nav.tlf-navigation
					ul.tlf-navigation__list
						li.tlf-navigation__item
							a.tlf-navigation__link(href="#" title="Reportes")
								figure.tlf-navigation__cont-img
									img.tlf-navigation__img(src="./assets/img/icons/tlf-reports.png" alt="")
								!= "Reportes"
								span.tlf-navigation__text Consulte y gestione sus reportes de servicio
						li.tlf-navigation__item
							a.tlf-navigation__link(href="#" title="Monitoreo")
								figure.tlf-navigation__cont-img
									img.tlf-navigation__img(src="./assets/img/icons/tlf-monitoreo.png" alt="")
								!= "Monitoreo"
								span.tlf-navigation__text Vea el estado de sus redes en tiempo real
						li.tlf-navigation__item
							a.tlf-navigation__link(href="#" title="Trámites")
								figure.tlf-navigation__cont-img
									img.tlf-navigation__img(src="./assets/img/icons/tlf-pedidos.png" alt="")
								!= "Tr&aacute;mites"
								span.tlf-navigation__text Controle el estado de sus pedidos y gestione reclamos
						li.tlf-navigation__item
							a.tlf-navigation__link(href="#" title="Portales")
								figure.tlf-navigation__cont-img
									img.tlf-navigation__img(src="./assets/img/icons/tlf-nuevo.png" alt="")
								!= "Portales"
								span.tlf-navigation__text Conjunto de portales externos para cada pa&iacute;s
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:
